.content {
  .site-page-header {
    overflow: hidden;

    .search {
      float: right;

      .input {
        float: left;
        width: 200px;
      }
    }
  }

  .example {
    text-align: center;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
  }

  .table {
    margin-top: 20px;

    th,
    td {
      text-align: center !important;
      border-right: 1px solid #f0f0f0;
      border-bottom: 1px solid #f0f0f0;
    }

    td {
      font-size: 16px;
    }
  }

}
