<div class="profile_info">
  <nz-page-header nzBackIcon class="profile_header">
		<nz-page-header-title>
			职工积分信息
		</nz-page-header-title>

		<nz-page-header-content>
			<div class="select">
				<nz-input-group nzCompact class="input_group">
					<!-- 列名：选择可搜索的列名 -->
					<nz-select class="select-item" [(ngModel)]="searchField">
						<nz-option class="option"
							*ngFor="let option of searchOptions" [nzLabel]="option.label"
							[nzValue]="option.value">
						</nz-option>
					</nz-select>
					<!-- 内容：输入要查询的关键字 -->
					<input nz-input  [(ngModel)]="searchInputText" class="text_input"
							#filter type="text" placeholder="请输入搜索内容" />
            <button nz-button nzType="primary" (click)="search()">搜索 </button>
            <button nz-button nzType="primary" (click)="reset()" nzDanger>重置 </button>
				</nz-input-group>
			</div>
		</nz-page-header-content>
	</nz-page-header>

  <div class="table_box">
    <ng-container>
      <nz-table [nzScroll]="{y: 'calc(100vh - 300px)' }" class="table" #borderedTable nzBordered #rowSelectionTable nzShowSizeChanger
        [nzData]="listOfDisplayData" [nzShowPagination]="true" [nzFrontPagination]="false"
        [nzPaginationPosition]="'bottom'" [(nzLoading)]="loading" [(nzTotal)]="total"
        [(nzPageSize)]="pageSize" [(nzPageIndex)]="pageIndex"
        (nzPageIndexChange)="pageIndexChange($event)" 	(nzPageSizeChange)="pageSizeChange($event)"  [nzShowTotal]="totalTemplate"
         [nzShowQuickJumper]="true">
        <thead class="table_thead">
          <tr nzHeight="30px" class="header_tr">
            <ng-container  *ngFor="let i=index;let key of listOfColumn">
              <th nzWidth="132px"[nzAlign]="'center'" class="header_tr">
                {{key.title}}
              </th>
            </ng-container>
          </tr>
        </thead>
        <tbody class="p_tbody">
            <tr class="p_tr" *ngFor="let item of rowSelectionTable.data">
              <td [nzAlign]="'center'" >{{item.name}}</td>
              <td [nzAlign]="'center'" >{{item.sex}}</td>
              <td [nzAlign]="'center'" >{{item.mobile}}</td>
              <td [nzAlign]="'center'" >{{item.workUnit}}</td>
              <td [nzAlign]="'center'" >{{item.dname}}</td>
              <td [nzAlign]="'center'" >{{item.workid}}</td>
              <td [nzAlign]="'center'" >{{item.credit}}</td>
              <td [nzAlign]="'center'"  class="manage_td" >
                <button class="btn" (click)="detail(item)" nzType="primary" nz-button [nzSize]="'small'">
                  查看详情
                </button>
              </td>
            </tr>
        </tbody>
        <ng-template #totalTemplate let-total>共 {{total}} 条</ng-template>
      </nz-table>
    </ng-container>
  </div>
</div>

