<button *ngIf="!isImport" nz-button nzType="primary" nzSize="large" style="margin-right: 2%; margin-left: 10px;"
  (click)="saveLine()" disabled>
  上传信息
</button>
<button *ngIf="isImport" nz-button nzType="primary" nzSize="large" (click)="saveLine()"
  style="margin-right: 2%; margin-left: 10px;">
  上传信息
</button>

<ag-grid-angular #agGrid style="width: 100%;height: 100%;" class="ag-theme-balham" [rowData]="rowData"
  [columnDefs]="columnDefs" enableCharts enableRangeSelection rowSelection="multiple" [rowDragManaged]="true"
  [animateRows]="true" rowHeight="30" [groupHeaderHeight]="groupHeaderHeight" [headerHeight]="headerHeight"
  [floatingFiltersHeight]="floatingFiltersHeight" [pivotGroupHeaderHeight]="pivotGroupHeaderHeight"
  [pivotHeaderHeight]="pivotHeaderHeight" pagination="true">
</ag-grid-angular>

<div class="drop-box" id="dropBox" (drop)="handleDrop($event)">
  <input style="width:100%;height:100%;opacity: 0;position:absolute;z-index: 666;" id="drop" (drop)="handleDrop($event)"
    type="file" placeholder="" (change)="onFileChange($event)" multiple="false" />
  <div class="drop-text">拖拽或点击上传</div>
</div>
