.item {
  width: 100%;
  border: 1px solid #70B0FF;
  display: flex;
  margin: 10px 0;
  margin-right: 2%;
  position: relative;

  .index {
    width: 60px;
    line-height: 80px;
    text-align: center;
    font-size: 20px;
    border-right: 2px solid #70B0FF;
  }


  .fileds {
    width: 80%;
    .old {
      display: flex;
      align-items: center;
      .old_name {
        background: #188ffe;
        color: white;
        padding: 5px 5px;
        margin: 0 0 0 1px;
        border-radius: 2px;
      }
      .old_input {
        width: 70%;
        margin-left: 10px ;
      }
    }

    .new {
      display: flex;
      align-items: center;
      margin-bottom:10px;
      .new_span {
        background: #188ffe;
        color: white;
        padding: 5px 20px;
        margin: 0 0 0 1px;
        border-radius: 2px;
      }
      .span_key {
        padding: 5px 20px;
        border: 1px solid #d9d9d9;
        margin: 0 17px;
      }
      .init_name {
        background: #188ffe;
        color: white;
        padding: 5px 5px;
        margin: 0 0 0 1px;
        border-radius: 2px;
      }
      .new_select {
        width: 70%;
        margin-left: 10px ;
      }
    }
  }
}

.ant-btn-circle {
  min-width: 32px;
  padding-right: 0;
  padding-left: 0px;
  text-align: center;
  border-radius: 50%;
  right: 5px;
  top: 5px;
  position: absolute;
}
