<ng-container *ngIf="isShow && _fieldsArray">
    <div cdkDropList (cdkDropListDropped)="dropFieldList($event)" >
        <ng-container *ngFor="let item of fieldsArray, let i = index">
            <div cdkDrag class="item">
                <div class="index">{{i + 1}}</div>
                <div class="fileds">
                  <div class="new" >
                    <span class="new_span">字段key值</span>
                    <span class="span_key">{{fieldsArray[i].key ? fieldsArray[i].key: ''}}</span>
                  </div>
                  <div class="new">
                    <span class="new_span">初始字段名</span>
                    <nz-select (ngModelChange)="ngModelChange($event, i)" class="new_select"
                      [(ngModel)]="otherFileds[i]" [nzSize]="size" nzPlaceHolder="选择字段">
                      <nz-option *ngFor="let option of _fieldsArray" [nzLabel]="option.name + '-' + option.key + '-' + option.type " [nzValue]="option"></nz-option>
                    </nz-select>
                  </div>
                  <div class="old">
                    <div class="old_name" >路由字段名</div>
                    <input class="old_input" [(ngModel)]="fieldsArray[i].name" nz-input placeholder="请输入字段替代"
                      nzSize="default" />
                  </div>
                  <div class="option_box" *ngIf="fieldsArray[i] && fieldsArray[i].options" >
                    <div nz-row *ngFor="let data of fieldsArray[i].options;let index = index" class="option_item">

                      <div nz-col nzSpan="10">
                        <nz-input-group nzAddOnBefore="value">
                          <input type="text" nz-input [(ngModel)]="data.value"/>
                        </nz-input-group>
                      </div>
                      <div nz-col nzSpan="10">
                        <nz-input-group nzAddOnBefore="label">
                          <input type="text" nz-input [(ngModel)]="data.label"/>
                        </nz-input-group>
                      </div>
                      <div nz-col nzSpan="4">
                        <button nz-button nzType="primary" nzDanger (click)="deleteOption(fieldsArray[i].options,index)">删除</button>
                      </div>
                    </div>
                    <button class="add_btn"  *ngIf="fieldsArray && fieldsArray.length <= 99 || !fieldsArray"
                      (click)="addOption(fieldsArray[i].options)" nz-button nzType="primary" [nzSize]="size" >
                      添加选项
                    </button>
                  </div>
                </div>
                <div class="right_area">
                  <div class="required">
                    <nz-form-label [nzSpan]="6" nzFor="email">填写状态</nz-form-label>
                    <nz-switch [(ngModel)]="fieldsArray[i].required" nzCheckedChildren="必填" nzUnCheckedChildren="选填"></nz-switch>
                  </div>
                  <div class="required">
                    <nz-form-label [nzSpan]="6" nzFor="email">操作权限</nz-form-label>
                    <nz-radio-group [(ngModel)]="item.view">
                      <label nz-radio nzValue="just-show">只读</label>
                      <label nz-radio nzValue="write">可写</label>
                    </nz-radio-group>
                  </div>
                  <div>
                    <nz-form-label [nzSpan]="6" nzFor="email">字段分类</nz-form-label>
                    <nz-select [(ngModel)]="item.editTab" class="select" >
                      <ng-container *ngFor="let tab of editTabs">
                        <nz-option [nzValue]="tab" [nzLabel]="tab"></nz-option>
                      </ng-container>
                    </nz-select>
                  </div>

                </div>
                <!-- 删除按钮 -->
                <button [style.color]="'blue'" (click)="deleteOption(fieldsArray, i)" nz-button nzType="link" nzShape="circle">
                  <i [style.color]="'red'" nz-icon nzType="close-circle"></i>
                </button>
            </div>
        </ng-container>
    </div>

</ng-container>
<ng-container *ngIf="isShow">
  <button *ngIf="fieldsArray && fieldsArray.length <= 99 || !fieldsArray"
    (click)="addOption(fieldsArray)" nz-button nzType="primary" [nzSize]="size" >
    添加选项
  </button>
</ng-container>
