.item {
  width: 100%;
  border: 1px solid #70B0FF;
  display: flex;
  margin: 10px 0;
  margin-right: 2%;
  position: relative;

  .index {
    width: 60px;
    line-height: 80px;
    text-align: center;
    font-size: 20px;
    border-right: 2px solid #70B0FF;
  }


  .fileds {
    width: 40%;
    .old {
      display: flex;
      align-items: center;
      .old_name {
        background: #188ffe;
        color: white;
        padding: 5px 5px;
        margin: 0 0 0 1px;
        border-radius: 2px;
        width: 96px;
        text-align: center;
      }
      .old_input {
        width: calc(100% - 100px);
      }
    }

    .new {
      display: flex;
      align-items: center;
      margin-bottom:10px;
      .new_span {
        background: #188ffe;
        width: 96px;
        text-align: center;
        color: white;
        padding: 5px 5px;
        margin: 0 0 0 1px;
        border-radius: 2px;
      }
      .span_key {
        padding: 5px 20px;
        border: 1px solid #d9d9d9;
        width: calc(100% - 100px);
      }
      .init_name {
        background: #188ffe;
        color: white;
        padding: 5px 5px;
        margin: 0 0 0 1px;
        border-radius: 2px;
        width: calc(100% - 100px);
      }
      .new_select {
        width: calc(100% - 100px);
      }
    }

    .option_box {
      width: 100%;
      margin: 10px 0;
      .option_item {
        border: 1px solid #d9d9d9;
      }
      .add_btn {
        margin: 6px 0;
        float: right;
      }
    }
  }
  .right_area {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    .required {
      width: 100%;
    }
    .select {
      margin: 10px 0 0 0;
      width: 70%;
    }
  }
  .color {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    .color_input {
      width: 100px;
    }
  }
}

.ant-btn-circle {
  min-width: 32px;
  padding-right: 0;
  padding-left: 0px;
  text-align: center;
  border-radius: 50%;
  right: 5px;
  top: 5px;
  position: absolute;
}
