.all{
  width: 100vw;
  overflow-y: auto;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.all::-webkit-scrollbar {
  width : 10px;  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.all::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
  background   : #535353;
}
.swper{
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  .swper-cont{
    width: 70%;
    height: 100%;
    .swper-item{
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 340px;
      margin: 20px auto;
      cursor: pointer;
      .swper-item-img{
        width: 80%;
        height: 320px;
      }
      .swper-dateil{
        width: 20%;
        height: 320px;
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        background: #25272c;
        // min-width: 200px;
        .game-item-name{
          font-size: 22px;
          font-weight: 600;
          padding: 10px 10px 20px 10px;
          text-align: left;
        }
        .row{
          display: flex;
          justify-content: space-between;
          padding: 0 10px;
          color: white;
          margin-bottom: 4px;
        }
        .swper-dateil-footer{
          flex: 1;
          display: flex;
          padding: 10px;
          align-items: self-end;
          .tags{
            padding: 4px 10px;
            color: #03f9fb;
            font-size: 16px;
            border: 2px solid #03f9fb;
            border-radius: 8px;
            margin-right: 8px;
          }
        }
      }
    }
  }
  .swper-left,.swper-right{
    color: #00fcff;
    font-size: 22px;
    width: 50px;
    text-align: center;
    cursor: pointer;
  }
}

.list{
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  width: 72%;
  .li{
    // line-height: 1;
    margin-right: 10px;
    padding: 6px 20px;
    font-size: 20px;
    font-weight: 600;
    color: #949494;
    cursor: pointer;
  }
  .li:hover{
    background: #2b2e31;
    color: #02fdff;
  }
  .li-active{
    background: #2b2e31;
    color: #02fdff;
  }
}
.content{
  margin: 30px auto;
  width: 72%;
  .content-page{
    display: flex;
    flex-wrap: wrap;
    .game-page-item{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 15px 10px 0;
      width: 22%;
      cursor: pointer;
      position: relative;
      .game-item-img{
        width: 100%;
        min-height: 140px;
        object-fit: contain;
      }
      .game-page-name{
        font-size: 16px;
        color: white;
        font-weight: 800;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px;
        background: rgb(0 0 0 / 25%);
      }
    }
    .page-item-last{
      margin: 0 0 10px 0 !important;
    }
  }
  .content-pagination{
    display: flex;
    color: white;
    align-items: center;
    margin-top: 20px;
    .pagination-item{
      background: #3d3d3d;
      cursor: pointer;
      padding: 10px 20px;
      margin-right: 10px;
      font-weight: 600;
    }
    .pagination-item-active{
      background: #00d0d3 !important;
    }
    .pagination-item:hover{
      background: #656565;
    }
    .pagination-all{
      display: flex;
      color: white;
    }
  }
}
[nz-carousel-content] {
  width: 80%;
  text-align: center;
  height: 340px;
  background: #172027;
  color: #fff;
  overflow: hidden;
}

