
<!--<nz-tabset>
  <nz-tab nzTitle="微信SDK支付">
    微信移动端SDK支付设置:
    <div>
      <span>appId：</span> <input nz-input placeholder="请输入微信应用appId" [(ngModel)]="wxsdk.appId" />
    </div>
    <div>
      <span>appSecret：</span> <input nz-input placeholder="请输入微信应用appId" [(ngModel)]="wxsdk.appSecret" />
    </div>
     <div>
       <span>mch_id：</span> <input nz-input placeholder="请输入微信支付mch_id" [(ngModel)]="wxsdk.mch_id" />
     </div>
      <div>
        <span>mch_key：</span> <input nz-input placeholder="请输入微信支付mch_key" [(ngModel)]="wxsdk.mch_key" />
      </div>
      <div>
        <span>returnUrl：</span> <input nz-input placeholder="请输入微信支付returnUrl" [(ngModel)]="wxsdk.returnUrl" />
      </div>
      <button nz-button nzType="primary" (click)="save()" nzBlock>保存</button>
  </nz-tab>
  <nz-tab nzTitle="七牛云存储">
    七牛云存储设置：
    <div>
    <span>AppKey：</span> <input nz-input placeholder="请输入七牛云存储AppKey" [(ngModel)]="configQiniu.ak" />
    </div>
    <div>
      <span>AppSecret：</span> <input nz-input placeholder="请输入七牛云存储AppSecret" [(ngModel)]="configQiniu.sk" />
    </div>

      <div>
        <span>Bucket：</span> <input nz-input placeholder="请输入七牛云所属Bucket" [(ngModel)]="configQiniu.bucket" />
      </div>
      <div>
        <span>Domain：</span> <input nz-input placeholder="请输入七牛云CDN域名" [(ngModel)]="configQiniu.domain" />
      </div>
      <div>
        <span>Zone：</span> <input nz-input placeholder="请输入七牛云所属区域" [(ngModel)]="configQiniu.zone" />
      </div>
      <div>
        <span>ZoneUrl：</span> <input nz-input placeholder="请输入七牛云所属区域URL" [(ngModel)]="configQiniu.zoneUrl" />
      </div>

    <button nz-button (click)="save()" nzType="primary" nzBlock>保存</button>
  </nz-tab>
</nz-tabset>-->
