.header {
  background-color: #fff;
  margin-bottom: 10px;
}

.manage {
  width: 99%;
  background-color: #fff;
  height: calc(100vh - 180px);
  border-radius: 8px;
  margin: 0 auto;

  .search {
    display: flex;
    width: 500px;
    margin-left: 20px;

    .select {
      width: 140px;
    }

    .input_group {
      width: 200px;
      margin-left: -10px;
    }
  }
}

.table-wrapper {
  background: #ffffff;
  margin: 30px 20px;

  .table {
    .head {
      .head_tr {
        .title {
          font-size: 16px;
        }
      }
    }
  }
}
