<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>发票打印</title>
</head>

<body>
  <div class="container">
    <div style="width:894px ;border-bottom: thin dashed;padding:0 50px; position: relative;">
      <div style="border-left:dashed;border-right: dashed;padding: 0 30px;padding-top:30px;">
        <h1 style="text-align: center;font-size: 24px;">三驰科技未来出行港销售单</h1>
        <div style="width: 100%;display: flex;padding: 0 10px;">
          <div style="width: 20%;">客户：</div>
          <div style="width: 50%;">日期：</div>
          <div style="width:30%">订单号：</div>
        </div>
        <div style="width: 100%;display: flex;padding: 0 10px;">
          <div style="width: 20%;">电话：</div>
          <div style="width: 50%;">收货地址：</div>
        </div>
        <table border="1" cellspacing="0" style="width: 100%;">
          <thead>
            <tr>
              <th style="text-align: center;width: 50px;">序号</th>
              <th style="text-align: center;width: 150px;">名称</th>
              <th style="text-align: center;width: 150px;">型号</th>
              <th style="text-align: center;width: 50px;">单位</th>
              <th style="text-align: center;width: 50px;">数量</th>
              <th style="text-align: center;width: 80px;">单价</th>
              <th style="text-align: center;width: 100px;">金额</th>
              <th style="text-align: center;width: auto">备注</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: center;">1</td>
              <td style="text-align: center;">皮皮虾1号</td>
              <td style="text-align: center;">CY100500811</td>
              <td style="text-align: center;">辆</td>
              <td style="text-align: center;">1000</td>
              <td style="text-align: center;">1000</td>
              <td style="text-align: center;">10000</td>
              <td style="text-align: center;">10001111111111111111111111111111111111.00</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3">大写合计：111</td>
              <td colspan="3">附加说明：</td>
              <td colspan="2" style="border-left:none">小写合计：</td>
            </tr>
          </tfoot>
        </table>
        <div style="width: 100%;display: flex;padding: 0 10px;">
          <div style="width: 40%;">地址：经开区富樱路235号</div>
          <div style="width: 35%;">电话：0791-83900696</div>
          <div style="width: 25%;">手机：13879113247</div>
        </div>
      </div>
      <div style="writing-mode: vertical-lr;position: absolute;right: 20px;top: 50%;transform: translateY(-50%);">第一联
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;存根</div>
    </div>
    <div style="width:894px ;padding:0 90px;">
      备注：货物如有差错，请三天内来电核对，逾期恕不负责！
    </div>
    <div style="width:894px ;padding:0 100px;display: flex;">
      <div style="width: 30%;">仓库拣货员：</div>
      <div style="width: 40%;">仓库核对：</div>
      <div style="width: 30%;">业务员：</div>
    </div>
  </div>
  <div class="container" style="background-color: #cab0b9;">
    <div style="width:894px ;border-bottom: thin dashed;padding:0 50px; position: relative;">
      <div style="border-left:dashed;border-right: dashed;padding: 0 30px;padding-top:30px;">
        <h1 style="text-align: center;font-size: 24px;">三驰科技未来出行港销售单</h1>
        <div style="width: 100%;display: flex;padding: 0 10px;">
          <div style="width: 20%;">客户：</div>
          <div style="width: 50%;">日期：</div>
          <div style="width:30%">订单号：</div>
        </div>
        <div style="width: 100%;display: flex;padding: 0 10px;">
          <div style="width: 20%;">电话：</div>
          <div style="width: 50%;">收货地址：</div>
        </div>
        <table border="1" cellspacing="0" style="width: 100%;">
          <thead>
            <tr>
              <th style="text-align: center;width: 50px;">序号</th>
              <th style="text-align: center;width: 150px;">名称</th>
              <th style="text-align: center;width: 150px;">型号</th>
              <th style="text-align: center;width: 50px;">单位</th>
              <th style="text-align: center;width: 50px;">数量</th>
              <th style="text-align: center;width: 80px;">单价</th>
              <th style="text-align: center;width: 100px;">金额</th>
              <th style="text-align: center;width: auto">备注</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: center;">1</td>
              <td style="text-align: center;">皮皮虾1号</td>
              <td style="text-align: center;">CY100500811</td>
              <td style="text-align: center;">辆</td>
              <td style="text-align: center;">1000</td>
              <td style="text-align: center;">1000</td>
              <td style="text-align: center;">10000</td>
              <td style="text-align: center;">10001111111111111111111111111111111111.00</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3">大写合计：111</td>
              <td colspan="3">附加说明：</td>
              <td colspan="2" style="border-left:none">小写合计：</td>
            </tr>
          </tfoot>
        </table>
        <div style="width: 100%;display: flex;padding: 0 10px;">
          <div style="width: 40%;">地址：经开区富樱路235号</div>
          <div style="width: 35%;">电话：0791-83900696</div>
          <div style="width: 25%;">手机：13879113247</div>
        </div>
      </div>
      <div style="writing-mode: vertical-lr;position: absolute;right: 20px;top: 50%;transform: translateY(-50%);">第二联
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;回签</div>
    </div>
    <div style="width:894px ;padding:0 90px;">
      备注：货物如有差错，请三天内来电核对，逾期恕不负责！
    </div>
    <div style="width:894px ;padding:0 100px;display: flex;">
      <div style="width: 30%;">仓库拣货员：</div>
      <div style="width: 40%;">仓库核对：</div>
      <div style="width: 30%;">业务员：</div>
    </div>
  </div>
  <div class="container" style="background-color: #e9f0bd;">
    <div style="width:894px ;border-bottom: thin dashed;padding:0 50px; position: relative;">
      <div style="border-left:dashed;border-right: dashed;padding: 0 30px;padding-top:30px;">
        <h1 style="text-align: center;font-size: 24px;">三驰科技未来出行港销售单</h1>
        <div style="width: 100%;display: flex;padding: 0 10px;">
          <div style="width: 20%;">客户：</div>
          <div style="width: 50%;">日期：</div>
          <div style="width:30%">订单号：</div>
        </div>
        <div style="width: 100%;display: flex;padding: 0 10px;">
          <div style="width: 20%;">电话：</div>
          <div style="width: 50%;">收货地址：</div>
        </div>
        <table border="1" cellspacing="0" style="width: 100%;">
          <thead>
            <tr>
              <th style="text-align: center;width: 50px;">序号</th>
              <th style="text-align: center;width: 150px;">名称</th>
              <th style="text-align: center;width: 150px;">型号</th>
              <th style="text-align: center;width: 50px;">单位</th>
              <th style="text-align: center;width: 50px;">数量</th>
              <th style="text-align: center;width: 80px;">单价</th>
              <th style="text-align: center;width: 100px;">金额</th>
              <th style="text-align: center;width: auto">备注</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: center;">1</td>
              <td style="text-align: center;">皮皮虾1号</td>
              <td style="text-align: center;">CY100500811</td>
              <td style="text-align: center;">辆</td>
              <td style="text-align: center;">1000</td>
              <td style="text-align: center;">1000</td>
              <td style="text-align: center;">10000</td>
              <td style="text-align: center;">10001111111111111111111111111111111111.00</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3">大写合计：111</td>
              <td colspan="3">附加说明：</td>
              <td colspan="2" style="border-left:none">小写合计：</td>
            </tr>
          </tfoot>
        </table>
        <div style="width: 100%;display: flex;padding: 0 10px;">
          <div style="width: 40%;">地址：经开区富樱路235号</div>
          <div style="width: 35%;">电话：0791-83900696</div>
          <div style="width: 25%;">手机：13879113247</div>
        </div>
      </div>
      <div style="writing-mode: vertical-lr;position: absolute;right: 20px;top: 50%;transform: translateY(-50%);">第三联
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;财务</div>
    </div>
    <div style="width:894px ;padding:0 90px;">
      备注：货物如有差错，请三天内来电核对，逾期恕不负责！
    </div>
    <div style="width:894px ;padding:0 100px;display: flex;">
      <div style="width: 30%;">仓库拣货员：</div>
      <div style="width: 40%;">仓库核对：</div>
      <div style="width: 30%;">业务员：</div>
    </div>
  </div>
</body>

</html>
