
<div>
  已签到人数: {{count }}
</div>

<div class="content">
    <nz-table [nzScroll]="{y: 'calc(100vh - 302px)' }"  #basicTable [nzData]="filterData" #borderedTable nzBordered [nzPageSize]="20"
      [nzScroll]="{ x: tableHead.length * 200 + 'px' }">
      <thead>
        <tr>
          <ng-container *ngFor="let item of tableHead">
            <th [nzWidth]="'200px'" [nzAlign]="'center'">{{item}}</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data;let index = index">
          <td [nzAlign]="'center'">{{data.name}}</td>
          <td [nzAlign]="'center'">{{data.sex}}</td>
          <td [nzAlign]="'center'">{{data.studentID}}</td>
          <td [nzAlign]="'center'">{{data.tag[0]}}</td>
          <td [nzAlign]="'center'">
              <ng-container *ngIf="!data.lid">
                <nz-tag [nzColor]="'#f50'">未签到</nz-tag>
              </ng-container>
              <ng-container *ngIf="data.lid">
                <nz-tag [nzColor]="'#108ee9'">已签到</nz-tag>
              </ng-container>

            </td>
        </tr>
      </tbody>
    </nz-table>
</div>
