.select-block{
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.select-lable{
    margin-right: 3px;
}
.select-item{
    display: flex;
    align-items: center;
    margin-right: 17px;
    margin-bottom: 10px;
}