* {
  box-sizing: border-box;
}
.content {

  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}
.number {
  color: rgba(0,0,0,.85);
  font-size: 24px;
}

// line-height: 1.5715;
//     font-variant: tabular-nums;
//     list-style: none;
//     font-feature-settings: 'tnum';
