.updateForm{
    display: flex;
    flex-direction: column;
    .formItem{
        display: flex;
        width: 100%;
        padding:5px 0px;
        span{
            width: 15%;
            line-height: 30px;
            text-align: end;
        }
        nz-select{
            width: 85%;
        }
        input{
            width: 85%;
        }
    }
}