.sec-title {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.desc {
  margin-left: 10px;
  color: #a9b3bf;
}
p {
  margin-bottom: 0;
}

/* wangEditor */
.editBox {
  padding: 10px;
  margin: 10px 0;
  background-color: #c2cedb;

  .edit-footer {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
}

.toolbar {
  margin-bottom: 10px;
}
