@import url('../../../styles/table.scss');
.survey {
  .header {
    background-color: #fff;
    margin-bottom: 10px;
    .descriptions {
      color: orange;
      font-size: 14px;
      font-weight: 600;
    }

  }
  .table_box {
    .table{
      overflow: hidden;
      .table_thead {
        .header_tr {
         .header_th {
            font-size: 16px;
          }
        }
      }
      .p_tbody {
        .p_tr {
          .manage_td {
            max-width:100px;
            overflow-x: auto;
            padding: 0;
            min-height: 20px;
            line-height: 1;
            max-height: 90px;
            .manage {
              display: flex;
              justify-content: space-around;
              .btn {
                margin-bottom: 5px;
              }
            }
          }
        }
      }
    }
  }
}
.add_item {
  .item {
    border-bottom: 1px #e2e2e2 solid;
  }
}

::ng-deep .ant-page-header-heading {
  border-bottom: 1px solid #ddd;
}

::ng-deep .select .select-item .ant-select-selector {
  background-color: #40a9ff !important;
  min-width: 60px;
  color: #ffffff;
}
