@import url('../../../styles/table.scss');
.profile_info {
  .profile_header {
    background-color: #fff;
    margin-bottom: 10px;

    .select {
      display: flex;
      width: auto;
      align-items: center;
      justify-content: space-between;
      .input_group {
        padding-left: 5px;
        border-radius: 40px 0 0 40px;
        min-width: 100px;
        width: 40%;
        .select-item {
          color: #fff;
          min-width: 100px;

          .option {
            border-radius: 8px 8px 8px 8px;
            color: #fff;
            min-width: 100px;
          }
        }

        .text_input {
          box-sizing: border-box;
          width: 128px;
          padding: 4px 10px;
        }
      }
      .descriptions {
        color: orange;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
  .table_box {
    .table{
      overflow: hidden;
      .table_thead {
        .header_tr {
         .header_th {
            font-size: 16px;
          }
        }
      }
      .p_tbody {
        .p_tr {
          .manage_td {
            max-width:100px;
            overflow-x: auto;
            padding: 0;
            min-height: 20px;
            line-height: 1;
            max-height: 90px;
            .manage {
              display: flex;
              justify-content: space-around;
              .btn {
                margin-bottom: 5px;
              }
            }
          }
        }
      }
    }
  }
}


::ng-deep .ant-page-header-heading {
  border-bottom: 1px solid #ddd;
}

::ng-deep .select .select-item .ant-select-selector {
  background-color: #40a9ff !important;
  min-width: 60px;
  color: #ffffff;
}
