::ng-deep .select-item .ant-select-selector {
    height: 40px !important;
    line-height: 40px !important;
}


::ng-deep .ant-select-single .ant-select-selector .ant-select-selection-item {
    line-height: 40px !important;
}
.input {
    height: 40px;
    line-height: 40px;
}



.header {
    display: flex;
    justify-content: space-around;
    .inputbox {
      display: flex;
      flex-grow: 1;
      div{
          width: 94%;
          display: flex;
          justify-content: left
      }
    }
    .inputboxs {
      display: flex;
      // flex-grow: 1;
    }
  }
  .btnclass {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    .searchbtnclass {
      display: flex;
      button {
        margin-right: 10px;
        width: 88px;
        height: 38px;
      }
    }
  }
  .tablehead {
    background: rgb(250, 250, 250);
  }
  
  .tembox {
    background: #fff;
    position: absolute;
    bottom: 50%;
    left:45%;
    margin: 0 auto;
    width: 310px;
    z-index: 9999;
    border: 1px solid #dfdfdf;
    padding: 10px;
  }
  .vehicleNumBox{
    background: rgb(24,144,255);
    padding:5px 10px;
    border-radius: 5px;
    color:white;
  }
  nz-date-picker,
  nz-month-picker,
  nz-range-picker,
  nz-week-picker {
    margin: 0 8px 12px 0;
  }
  .fine{
    color:white;
    background: rgb(0, 128, 0);
    padding:1px 20px;
  }
  .wrong{
    color:white;
    background: rgb(255, 0, 0);
    padding:1px 20px;
  }
  .formbox{
    width: 30%;
    height: 100%;
    margin:0 auto;
    background: #dfdfdf;
    position: fixed;
    top:0;
    right:0;
    padding:100px 80px;
    overflow-y:scroll;
    .closebox{
      display: flex;
      justify-content: space-between;
      position: relative;
      top:-20px;
      font-size: 25px;
      font-weight: 600;
    }
  }