.page{
  border-top:1px solid #172027;
  user-select: none;
  .content{
    width: 300px;
    height: 400px;
    margin: 200px auto;
    padding: 20px;
    color: #00b7b7;
    background-color: #14181b;
    text-align: center;
    box-shadow: 0px -1px 14px 3px #0d778b;
    border-radius: 8px;
    p{
      font-size: 22px;
      font-weight: 600;
    }
    .qrcode{
      width: 180px;
      height: 180px;
      margin: 20px auto;
    }
  }
}
