body {
    background: #ffffff;
}

.table-wrapper {
    background: #ffffff;
    margin: 0 20px 30px 20px;
    .head {
        .head_tr {
            .title {
                
            }
        }

    }
    .tbody {
        .body_tr {
            .name {
                .logo {
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
}
