<canvas class="canv" id="canv" width="1920" height="920"></canvas>
<div class="cockpit">
  <div class="content">
    <div class="header" nz-row>
      <div nz-col [nzSpan]="6">
        <span *ngFor="let item of dateArr">{{item}}</span>
      </div>
      <div nz-col [nzSpan]="14">
        <h3 class="title" style="z-index: 9; color: #fff; text-align: center;">脑控科技驾驶舱</h3>
      </div>
      <div class="change" nz-col [nzSpan]="4">
      <button style="margin-left: 30%;"  nz-button nzType="primary" nzSize="large" (click)="changeReport()">
        切换图表
      </button>
      <button style="margin-left: 2%;" nz-button nzType="primary" nzSize="large" (click)="back()">
        返回
      </button>
      </div>
    </div>
    <div class="center" nz-row *ngIf="table && table.length>0">
      <!-- 左边 -->
      <div class="left" nz-col [nzSpan]="6">
        <div class="left-top">
          <ng-container *ngIf="reportArray">
            <div class="chart" *ngIf="!table[0].showTable" echarts [options]="table[0].option.chartOption"></div>
            <div id="table" class="table" *ngIf="table[0].showTable">
              <table border="2" cellspacing="10" cellpadding="10">
                <tr *ngFor="let data of table[0].option.dataArr">
                  <td *ngFor="let item of data">{{item}}</td>
                </tr>  </table>
            </div>
          </ng-container>
          <div style="position: absolute; top: 15px; right: 15px;" (click)="changeShow(table[0])"><i nz-icon
              nzType="left-circle"
              nzTheme="outline"></i>
          </div>
          
        </div>
        <div class="left-bottom">
          <ng-container *ngIf="reportArray">
            <div class="chart" *ngIf="!table[1].showTable" echarts [options]="table[1].option.chartOption"></div>
            <div id="table" class="table" *ngIf="table[1].showTable">
              <table border="2" cellspacing="10" cellpadding="10">
                <tr *ngFor="let data of table[1].option.dataArr">
                  <td *ngFor="let item of data">{{item}}</td>
                </tr>
              </table>
            </div>
          </ng-container>
          <div style="position: absolute; top: 15px; right: 15px;" (click)="changeShow(table[1])"><i nz-icon
              nzType="left-circle" nzTheme="outline"></i>
          </div>
        </div>
      </div>


      <!-- 中间数据总览 -->
      <div class="data" nz-col [nzSpan]="12">
        <div *ngIf="cate == 'sdCVGZqrCT'" class="data-center" echarts [options]="mapOption">数据总览</div>
        <div nz-row class="data-center" *ngIf="cate != 'sdCVGZqrCT'">
          <div nz-col [nzSpan]="12" class="center-left">
            <div style="width: 100%; height: 100%; margin: auto;" echarts [options]="randomOption.chartOption"></div>
          </div>
          <div nz-col [nzSpan]="12" class="center-right">
            <div style="margin: auto; padding-top: 10%; max-width: 96%; max-height: 96%; overflow: auto;">
              <table style="margin: auto; line-height: 100%;" border="2" cellspacing="10" cellpadding="10">
                <tr style="height: 40px;" *ngFor="let data of randomOption.dataArr">
                  <td style="width: 20%;" *ngFor="let item of data">{{item}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- 右边 -->
      <div class="right" nz-col [nzSpan]="6" >
        <div class="right-top">
          <ng-container *ngIf="reportArray.length > 0">
            <div class="chart" *ngIf="!table[2].showTable" echarts [options]="table[2].option.chartOption"></div>
            <div id="table" class="table" *ngIf="table[2].showTable">
              <table border="2" cellspacing="10" cellpadding="10">
                <tr *ngFor="let data of table[2].option.dataArr">
                  <td *ngFor="let item of data">{{item}}</td>
                </tr>
              </table>
            </div>
          </ng-container>
          <div style="position: absolute; top: 15px; right: 15px;" (click)="changeShow(table[2])"><i nz-icon
              nzType="left-circle" nzTheme="outline"></i>
          </div>
        </div>
        <div class="right-bottom">
          <ng-container *ngIf="reportArray.length > 0">
            <div class="chart" *ngIf="!table[3].showTable" echarts [options]="table[3].option.chartOption"></div>
            <div id="table" class="table" *ngIf="table[3].showTable">
              <table border="2" cellspacing="10" cellpadding="10">
                <tr *ngFor="let data of table[3].option.dataArr">
                  <td *ngFor="let item of data">{{item}}</td>
                </tr>
              </table>
            </div>
          </ng-container>
          <div style="position: absolute; top: 15px; right: 15px;" (click)="changeShow(table[3])"><i nz-icon
              nzType="left-circle" nzTheme="outline"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- 底部 -->
    <div class="footer" *ngIf="table && table.length>0">
      <div class="footer-item">
        <ng-container *ngIf="reportArray.length > 0">
          <div *ngIf="reportArray && !table[4].showTable" class="item" style="height: 100%;" echarts
            [options]="table[4].option.chartOption">
          </div>
          <div id="table" class="table" *ngIf="table[4].showTable">
            <table border="2" cellspacing="10" cellpadding="10">
              <tr *ngFor="let data of table[4].option.dataArr">
                <td *ngFor="let item of data">{{item}}</td>
              </tr>
            </table>
          </div>
        </ng-container>
        <div style="position: absolute; top: 15px; right: 15px;" (click)="changeShow(table[4])"><i nz-icon
            nzType="left-circle" nzTheme="outline"></i>
        </div>
      </div>
      <div class="footer-item">
        <ng-container *ngIf="reportArray.length > 0">
          <div *ngIf="reportArray && !table[5].showTable" class="item" style="height: 100%;" echarts
            [options]="table[5].option.chartOption">
          </div>
          <div id="table" class="table" *ngIf="table[5].showTable">
            <table border="2" cellspacing="10" cellpadding="10">
              <tr *ngFor="let data of table[5].option.dataArr">
                <td *ngFor="let item of data">{{item}}</td>
              </tr>
            </table>
          </div>
        </ng-container>
        <div style="position: absolute; top: 15px; right: 15px;" (click)="changeShow(table[5])"><i nz-icon
            nzType="left-circle" nzTheme="outline"></i>
        </div>
      </div>
      <div class="footer-item">
        <ng-container *ngIf="reportArray.length > 0">
          <div class="item" *ngIf="reportArray && !table[6].showTable" style="height: 100%;" echarts
            [options]="table[6].option.chartOption">
          </div>
          <div id="table" class="table" *ngIf="table[6].showTable">
            <table border="2" cellspacing="10" cellpadding="10">
              <tr *ngFor="let data of table[6].option.dataArr">
                <td *ngFor="let item of data">{{item}}</td>
              </tr>
            </table>
          </div>
        </ng-container>
        <div style="position: absolute; top: 15px; right: 15px;" (click)="changeShow(table[6])"><i nz-icon
            nzType="left-circle" nzTheme="outline"></i>
        </div>
      </div>
      <div class="footer-item">
        <ng-container *ngIf="reportArray.length > 0">
          <div class="item" *ngIf="reportArray && !table[7].showTable" style="height: 100%;" echarts
            [options]="table[7].option.chartOption">
          </div>
          <div id="table" class="table" *ngIf="table[7].showTable">
            <table border="2" cellspacing="10" cellpadding="10">
              <tr *ngFor="let data of table[7].option.dataArr">
                <td *ngFor="let item of data">{{item}}</td>
              </tr>
            </table>
          </div>
        </ng-container>
        <div style="position: absolute; top: 15px; right: 15px;" (click)="changeShow(table[7])"><i nz-icon
            nzType="left-circle" nzTheme="outline"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<nz-modal nzWidth="80%" [(nzVisible)]="isVisible" nzTitle="切换驾驶舱的图表" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  
  <div style="display: flex;" *ngIf="table&&table[0]&&table[0].name&&table[8]&&table[8].name">
    <div style="width: 24%;  height: 400px ; margin-right: 1%;" class="change-left">
      <div style="width: 100%;
        height: 50%;
        padding: 10px;
        border: 1px solid #5e5e55;">
        <input title="{{table[0].name}}" nz-input style="width: 60%; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; background-color: #3399CC;
        color: #fff; margin-bottom: 5px; " [(ngModel)]="table[0].name" placeholder="{{table[0].name}}" />
        <ng-container *ngIf="reportArray.length > 0">
          <nz-select [(ngModel)]="tableMap[0]" style="width: 160px;" (ngModelChange)="changeTable($event,0)">
            <ng-container *ngFor="let report of reportArray">
              <nz-option title="{{report&&report.name?report.name:'未命名'}}" [nzValue]="report" [nzLabel]="report&&report.name?report.name:'未命名'"></nz-option>
            </ng-container>
          </nz-select>
        </ng-container>
      </div>
      <div style="width: 100%;
        height: 50%;
        padding: 10px;
        border: 1px solid #5e5e55;">
        <input title="{{table[1].name}}" nz-input style="width: 60%; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; background-color: #3399CC;
        color: #fff; margin-bottom: 5px; " [(ngModel)]="table[1].name" placeholder="{{table[1].name}}" />
        <ng-container *ngIf="reportArray.length > 0">
          <nz-select [(ngModel)]="tableMap[1]" style="width: 160px;" (ngModelChange)="changeTable($event,1)">
            <ng-container *ngFor="let report of reportArray">
              <nz-option title="{{report&&report.name?report.name:'未命名'}}" [nzValue]="report" [nzLabel]="report&&report.name?report.name:'未命名'"></nz-option>
            </ng-container>
          </nz-select>
        </ng-container>
      </div>
    </div>
    <div style="width: 49%;  height: 400px; padding: 10px;
        border: 1px solid #5e5e55; margin-right: 1%;">
      <input title="{{table[8].name}}" nz-input style="width: 60%; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; background-color: #3399CC;
        color: #fff; margin-bottom: 5px; " [(ngModel)]="table[8].name" placeholder="{{table[8].name}}" />
        <ng-container *ngIf="areaArray.length > 0">
          <nz-select [(ngModel)]="tableMap[8]" style="width: 160px;" (ngModelChange)="changeMap($event,8)">
            <ng-container *ngFor="let report of areaArray">
              <nz-option title="{{report&&report.name?report.name:'未命名'}}" [nzValue]="report" [nzLabel]="report&&report.name?report.name:'未命名'"></nz-option>
            </ng-container>
          </nz-select>
        </ng-container>
    </div>
    <div style="width: 24%;  height: 400px;" class="change-left">
      <div style="width: 100%;
        height: 50%;
        padding: 10px;
        border: 1px solid #5e5e55;">
        <input title="{{table[2].name}}" nz-input style="width: 60%; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; background-color: #3399CC;
        color: #fff; margin-bottom: 5px; " [(ngModel)]="table[2].name" placeholder="{{table[2].name}}" />
        <ng-container *ngIf="reportArray.length > 0">
          <nz-select [(ngModel)]="tableMap[2]" style="width: 160px;" (ngModelChange)="changeTable($event,2)">
            <ng-container *ngFor="let report of reportArray">
              <nz-option title="{{report&&report.name?report.name:'未命名'}}" [nzValue]="report" [nzLabel]="report&&report.name?report.name:'未命名'"></nz-option>
            </ng-container>
          </nz-select>
        </ng-container>
      </div>
      <div style="width: 100%;
        height: 50%;
        padding: 10px;
        border: 1px solid #5e5e55;">
        <input title="{{table[3].name}}" nz-input style="width: 60%; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; background-color: #3399CC;
        color: #fff; margin-bottom: 5px; " [(ngModel)]="table[3].name" placeholder="{{table[3].name}}" />
        <ng-container *ngIf="reportArray.length > 0">
          <nz-select [(ngModel)]="tableMap[3]" style="width: 160px;" (ngModelChange)="changeTable($event,3)">
            <ng-container *ngFor="let report of reportArray">
              <nz-option title="{{report&&report.name?report.name:'未命名'}}" [nzValue]="report" [nzLabel]="report&&report.name?report.name:'未命名'"></nz-option>
            </ng-container>
          </nz-select>
        </ng-container>
      </div>
    </div>
  </div>
  <div style="display: flex;" >
    <div style="width: 24%;  height: 200px ; margin-right: 1%; padding: 10px;
        border: 1px solid #5e5e55;">
        <input title="{{table[4].name}}" nz-input style="width: 60%; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; background-color: #3399CC;
        color: #fff; margin-bottom: 5px; " [(ngModel)]="table[4].name" placeholder="{{table[4].name}}" />
        <ng-container *ngIf="reportArray.length > 0">
          <nz-select [(ngModel)]="tableMap[4]" style="width: 160px;" (ngModelChange)="changeTable($event,4)">
            <ng-container *ngFor="let report of reportArray">
              <nz-option title="{{report&&report.name?report.name:'未命名'}}" [nzValue]="report" [nzLabel]="report&&report.name?report.name:'未命名'"></nz-option>
            </ng-container>
          </nz-select>
        </ng-container>
    </div>
    <div style="width: 24%;  height: 200px ; margin-right: 1%; padding: 10px;
        border: 1px solid #5e5e55;" class="change-left">

      <input title="{{table[5].name}}" nz-input style="width: 60%; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; background-color: #3399CC;
        color: #fff; margin-bottom: 5px; " [(ngModel)]="table[5].name" placeholder="{{table[5].name}}" />
      <ng-container *ngIf="reportArray.length > 0">
        <nz-select [(ngModel)]="tableMap[5]" style="width: 160px;" (ngModelChange)="changeTable($event,5)">
          <ng-container *ngFor="let report of reportArray">
            <nz-option title="{{report&&report.name?report.name:'未命名'}}" [nzValue]="report" [nzLabel]="report&&report.name?report.name:'未命名'"></nz-option>
          </ng-container>
        </nz-select>
      </ng-container>
    </div>
    <div style="width: 24%;  height: 200px ; margin-right: 1%; padding: 10px;
        border: 1px solid #5e5e55;" class="change-left">

      <input title="{{table[6].name}}" nz-input style="width: 60%; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; background-color: #3399CC;
        color: #fff; margin-bottom: 5px; " [(ngModel)]="table[6].name" placeholder="{{table[6].name}}" />
      <ng-container *ngIf="reportArray.length > 0">
        <nz-select [(ngModel)]="tableMap[6]" style="width: 160px;" (ngModelChange)="changeTable($event,6)">
          <ng-container *ngFor="let report of reportArray">
            <nz-option title="{{report&&report.name?report.name:'未命名'}}" [nzValue]="report" [nzLabel]="report&&report.name?report.name:'未命名'"></nz-option>
          </ng-container>
        </nz-select>
      </ng-container>
    </div>
    <div style="width: 24%;  height: 200px ; margin-right: 1%; padding: 10px;
        border: 1px solid #5e5e55;" class="change-left">

      <input title="{{table[7].name}}" nz-input style="width: 60%; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; background-color: #3399CC;
        color: #fff; margin-bottom: 5px; " [(ngModel)]="table[7].name" placeholder="{{table[7].name}}" />
      <ng-container *ngIf="reportArray.length > 0">
        <nz-select [(ngModel)]="tableMap[7]" style="width: 160px;" (ngModelChange)="changeTable($event,7)">
          <ng-container *ngFor="let report of reportArray">
            <nz-option title="{{report&&report.name?report.name:'未命名'}}" [nzValue]="report" [nzLabel]="report&&report.name?report.name:'未命名'"></nz-option>
          </ng-container>
        </nz-select>
      </ng-container>
    </div>
  </div>
</nz-modal>
