<div style="margin-top: 60px;">
    <h2>分销比例计算</h2>
    <div style="margin-top: 20px;">一级佣金比例： <nz-input-number (ngModelChange)="change_1($event)" [(ngModel)]="number_1" [nzMin]="0" [nzMax]="1" [nzStep]="0.1"></nz-input-number></div>
    <div style="margin-top: 20px;">二级佣金比例： <nz-input-number (ngModelChange)="change_2($event)" [(ngModel)]="number_2" [nzMin]="0" [nzMax]="1" [nzStep]="0.1"></nz-input-number></div>
    <div style="margin-top: 20px;">三级佣金比例： <nz-input-number (ngModelChange)="change_3($event)" [(ngModel)]="number_3" [nzMin]="0" [nzMax]="1" [nzStep]="0.1"></nz-input-number></div>
</div>