.content {
  min-width: 600px;
  // width: 85%;
  // max-width: 62.5%;
  // min-height: 600px;
  // margin: 10px auto 40px;
  font-size: 18px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #000000;
  .wrapper {
    background-color: #fff;
    // padding: 30px 60px;
    margin: 0 auto;
    height: auto;
    min-height: 700px;
    width: 1200px;
  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
  }
  .explain {
    width: 70%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }
  .test {
    width: 130px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #005CAB;
    margin: 15px 0 15px auto;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #FFFFFF;
  }
  .test_end {
    width: 130px;
    height: 40px;
    line-height: 40px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #000000;
    background: #eee;
    // border: 1px solid #005CAB;
    text-align: center;
    cursor: pointer;
    margin: 15px 0 15px 0;
  }
}

