.search {
  padding: 30px;
  display: flex;

  .input {
    display: flex;
    margin-right: 20px;
    align-items: center;
    div {
      text-align: center;
      height: 30px;
      line-height: 30px;
      width: 160px;
      color: #ffffff;
      font-size: 60;
      background-color: #40a9ff;
      border-radius: 40px 0 0 40px;
    }

    input {
      border-radius: 0 40px 40px 0;
    }
  }
}

.score-table {
  // width: 100%;
  background: #FFFFFF;
  box-shadow: -3px 0px 4px 0px rgba(153, 153, 153, 0.08),
    3px 0px 4px 0px rgba(153, 153, 153, 0.08),
    0px -3px 4px 0px rgba(153, 153, 153, 0.28),
    0px 3px 4px 0px rgba(153, 153, 153, 0.28);
  border-radius: 10px;
  margin: 20px;
  border-radius: 10px;

  table {
    // width: 100%;

    thead {
      // width: 100%;

      tr {
        // width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #40a9ff;
        border-radius: 10px 10px 0px 0px;
        height: 36px;

        th {
          width: 33.3%;
          color: #FFFFFF;
          font-size: 14px;
          text-align: center;
        }
      }
    }

    tbody {
      // width: 100%;

      tr:nth-child(odd) {
        padding-left: 5px;
        background-color: #ffff !important;
      }

      tr:nth-child(even) {
        padding-left: 5px;
        background-color: rgba($color: #40a9ff, $alpha: 0.2);
      }

      tr {
        // width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 36px;
        text-align: center;

        td {
          width: 33.3%;
          font-size: 14px;
        }
      }
    }
  }
}
