<div class="masterol-dc">
  <div class="header">
    <ng-container *ngIf="(departmentId && cate != '学校') || !departmentId">
      <div class="items top">
        <div class="item-card" style="background-image: url('../../../assets/img/masterol/img/card1.png');">
          <span class="num">{{lessonCount}}</span>
          <span class="text">平台总课程数</span>
        </div>
        <div class="item-card" style="background-image: url('../../../assets/img/masterol/img/card2.png');">
          <span class="num">{{onLineLessson}}</span>
          <span class="text">普通课程数</span>
        </div>
        <div class="item-card" style="background-image: url('../../../assets/img/masterol/img/card3.png');">
          <span class="num">{{offLineLesson}}</span>
          <span class="text">第二课堂课程数</span>
        </div>
        <div class="item-card" style="background-image: url('../../../assets/img/masterol/img/card4.png');">
          <span class="num">{{userCount}}</span>
          <span class="text">培训总人数</span>
        </div>
      </div>
      <div class=" items bottom">
        <div class="item-card" style="background-image: url('../../../assets/img/masterol/img/card5.png');">
          <span class="num">{{schoolCount}}</span>
          <span class="text">合作院校</span>
        </div>
        <div class="item-card" style="background-image: url('../../../assets/img/masterol/img/card7.png');">
          <span class="num">{{agentsCount}}</span>
          <span class="text">平台代理商数</span>
        </div>
        <div class="item-card" style="background-image: url('../../../assets/img/masterol/img/card8.png');">
          <span class="num">{{teacherCount}}</span>
          <span class="text">平台师资数</span>
        </div>
        <div class="item-card" style="background-image: url('../../../assets/img/masterol/img/card6.png');">
          <span class="num">{{trainCount}}</span>
          <span class="text">平台总用户</span>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="departmentId && cate == '学校'">
      <div class="items top">
        <div class="item-card" style="background-image: url('../../../assets/img/masterol/img/card1.png');">
          <span class="num">{{lessonCount}}</span>
          <span class="text">院校专业数</span>
        </div>
        <div class="item-card" style="background-image: url('../../../assets/img/masterol/img/card2.png');">
          <span class="num">{{onLineLessson}}</span>
          <span class="text">院校老师人数</span>
        </div>
        <div class="item-card" style="background-image: url('../../../assets/img/masterol/img/card3.png');">
          <span class="num">{{offLineLesson}}</span>
          <span class="text">院校课程数</span>
        </div>
        <div class="item-card" style="background-image: url('../../../assets/img/masterol/img/card4.png');">
          <span class="num">{{trainCount}}</span>
          <span class="text">院校学生人数</span>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="center">
    <div class="select">
      <nz-input-group>
        <nz-select [(ngModel)]="option" nzAllowClear (ngModelChange)="changeOptions()" nzPlaceHolder="请选择时间">
          <nz-option style="color: #fff;" *ngFor="let item of options" [nzLabel]="item" [nzValue]="item">
          </nz-option>
        </nz-select>
      </nz-input-group>
    </div>
    <div class="echart1">
      <div id="echart" style="width: 96%; height: 500px;" echarts [options]="echartOption"></div>
    </div>
    <div class="echart2">
      <div class="item">
        <div style="width: 96%; height:96%;" echarts [options]="hotSchoolOption"></div>
      </div>
      <div class="item">
        <div style="width: 96%; height: 96%;" echarts [options]="hotMajorOption"></div>
      </div>
      <div class="item">
        <div style="width: 96%; height: 96%;" echarts [options]="hotMajorOption"></div>
      </div>

    </div>
  </div>

  <!-- <ng-container *ngIf="cate == '学校'">
    
  </ng-container> -->
  <ng-container *ngIf="!cate">
    <div class="footer-cate">
      <div class="box left">
        <h4>院校排行榜</h4>
        <div class="table">
          <table>
            <thead>
              <tr>
                <th>排名</th>
                <th>院校名称</th>
                <th>人数</th>
              </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let school of schoolList;let sIndex = index">
                    <tr *ngIf=" 10 > sIndex " >
                  
                        <td>{{sIndex + 1}}</td>
                        <td>{{school.get("name")}}</td>
                        <td>{{school.studentCount}}</td>
                    </tr>
                </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <div class=" box right">
        <h4>代理中心排行榜</h4>
        <div class="table">
          <table>
            <thead>
              <tr>
                <th>排名</th>
                <th>代理中心名称</th>
                <th>人数</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let center of studentCenterList;let cIndex = index">
                <td>{{cIndex + 1}}</td>
                <td>{{center.get("name")}}</td>
                <td>{{center.studentCount}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </ng-container>
</div>


