 <div class="cate-container">
    <div class="head">
        <div class="search" style="width: 500px;" *ngIf="!showExport && !isLoading">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" [nzAddOnBefore]="addOnBeforeTemplate">
                <input (keyup.enter)="searchStudent()" type="text" nz-input [(ngModel)]="inputValue"
                    placeholder="输入关键词搜索" />
            </nz-input-group>
            <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch (click)="searchStudent()"><i nz-icon
                        nzType="search"></i></button>
            </ng-template>
            <ng-template #addOnBeforeTemplate>
                <nz-select style="width: 100px;margin: 0 5px 0 10px;" [ngModel]="searchType.value"
                    (ngModelChange)="searchTypeChange($event)">
                    <ng-container *ngFor="let option of listOfColumn;let index = index;">
                        <ng-container *ngIf=" listOfColumn.length > index">
                            <nz-option [nzLabel]="option.title" nzValue="{{option.value}}"></nz-option>
                        </ng-container>
                    </ng-container>
                </nz-select>
            </ng-template>
        </div>
        <div *ngIf="showExport" class="export_btn_group">
            <button nz-button nzType="primary" (click)="showExport = !showExport">返回</button>
            <button nz-button nzType="primary" (click)="exportData()">导出数据</button>
        </div>
        <button *ngIf="!showExport && !isLoading" nz-button nzType="primary" (click)="export()">导出</button>
    </div>
    <div class="score-table" *ngIf="!showExport">
        <nz-table [nzScroll]="{y: 'calc(100vh - 302px)' }" #sortTable [nzPageSize]="pageSize" [nzData]="filterData" nzTableLayout="fixed"
            [(nzLoading)]="isLoading" [nzShowPagination]="true" [nzShowQuickJumper]="true" [(nzTotal)]="filterLen"
            [(nzPageIndex)]="pageIndex" [nzShowTotal]="totalTemplate" nzPaginationPosition="bottom"
            (nzPageIndexChange)="pageChange($event)" [nzFrontPagination]="false" nzSize="small">
            <thead style="height: 50px;">
                <tr>
                    <th style="font-size: 18px;" nzAlign="center" *ngFor="let column of listOfColumn;">{{ column.title}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of sortTable.data;let Index = index;">
                    <td nzAlign="center">{{ data.name}}</td>
                    <td nzAlign="center">{{ data.idcard}}</td>
                    <td nzAlign="center">{{ data.studentID}}</td>
                    <td nzAlign="center">{{ data.depaName}}</td>
                    <td nzAlign="center">{{ data.centerName}}</td>
                    <td nzAlign="center">{{ data.majorName}}</td>
                    <td nzAlign="center">{{ data.education}}</td>
                    <td nzAlign="center">{{ data.title}}</td>
                    <td nzAlign="center">{{ data.objectiveScore}}</td>
                    <td nzAlign="center">{{ data.subjectiveScore}}</td>
                    <td nzAlign="center">{{ data.grade}}</td>
                    <td nzAlign="center">
                        <button nz-button nzType="primary" (click)="toDetail(data.logObjectId)">答题详情</button>
                    </td>
                </tr>
            </tbody>
            <ng-template #totalTemplate let-total>共 {{filterLen}} 条</ng-template>
        </nz-table>
    </div>

    <ng-container *ngIf="showExport">
        <ag-grid-angular #agGrid style="width: 100%; height: 960px;" class="ag-theme-balham" [gridOptions]="topOptions"
            [rowData]="ExportData" [columnDefs]="require" [defaultColGroupDef]="defaultColGroupDef" enableCharts
            enableRangeSelection rowSelection="multiple" [rowDragManaged]="true" [animateRows]="true" rowHeight="30"
            [groupHeaderHeight]="groupHeaderHeight" [headerHeight]="headerHeight"
            [floatingFiltersHeight]="floatingFiltersHeight" [getRowNodeId]="getRowNodeId"
            [pivotGroupHeaderHeight]="pivotGroupHeaderHeight" [pivotHeaderHeight]="pivotHeaderHeight"
            [defaultColDef]="defaultColDef" pagination="true" [sideBar]="true" [excelStyles]="excelStyles"
            (gridReady)="onGridReady($event)">
        </ag-grid-angular>
    </ng-container>
</div>
