<div class="page-container">
	<nz-card style="width: 100%;" nzTitle="门店总览" >

		<div class="store_contant" >
			<div class="store" *ngFor="let store of stores">
				<nz-ribbon [nzPlacement]="'start'">
					<nz-card nzHoverable style="margin-top: 16px, width：260px" [nzLoading]="loading"  [nzTitle]="titleTemplate"
						[nzExtra]="extraTemplate" [nzCover]="coverTemplate">
						<div class="card-content card-top">
							<div class="content-left" (click)="toOrder(store.objectId)">
								<div class="num">{{store.count > 0 ? store.count : 0 }}</div>
								<div class="desc">订单总数</div>
							</div>

							<nz-divider nzType="vertical" class="divider"></nz-divider>

							<div class="content-right" (click)="toOrder(store.objectId)">
								<div class="num">{{store.totalPrice > 0 ? store.totalPrice : 0 }}</div>
								<div class="desc">订单总金额</div>
							</div>
						</div>
						<div class="card-content" (click)="toVip(store.objectId)">
							<div class="content-left">
								<div class="num">{{store.userCount > 0 ? store.userCount : 0  }}</div>
								<div class="desc">会员数量</div>
							</div>

							<nz-divider nzType="vertical" class="divider"></nz-divider>

							<div class="content-right" (click)="toOrder(store.objectId)">
								<div class="num">{{store.earnings > 0 ? store.earnings.toFixed(2) : 0 }}</div>
								<div class="desc">总收益</div>
							</div>
						</div>
					</nz-card>
				</nz-ribbon>
				<ng-template #titleTemplate>
					<div class="card-title">{{store.storeName}}</div>
				</ng-template>
				<ng-template #extraTemplate>
					<!-- <a (click)="more(shop.shopid)" routerLinkActive="router-link-active">更多</a> -->
				</ng-template>
				<ng-template #coverTemplate>
					<img class="cover" src="{{store.cover}}" alt="">
				</ng-template>
			</div>
		</div>

		<nz-pagination class="shops-pagination" [(nzPageIndex)]="pageIndex" [nzTotal]="total" [(nzPageSize)]="pageSize"
			[nzShowSizeChanger]="true" (nzPageIndexChange)="pageIndexChange()" (nzPageSizeChange)="pageSizeChange()"
			[nzPageSizeOptions]="pageSizeOptions">
		</nz-pagination>
	</nz-card>
</div>
