<nz-page-header nzTitle="订单详情"></nz-page-header>
<div class="details">
    <div class="information">所属家装公司：{{order.storeName}}</div>
    <div class="information">订单编号：{{order.orderNum}}</div>
    <div class="information">联系人：{{order.contact}}</div>
    <div class="information">联系电话：{{order.mobile}}</div>
    <div class="information">房屋性质：{{order.houseProperty}}</div>
    <div class="information">套内面积：{{order.insideArea}}m²</div>
    <div class="information">材料费用：{{order.materialPrice}}元</div>
    <div class="information">人工费用：{{order.workingPrice}}元</div>
    <div class="information">总金额：{{order.totalPrice}}</div>
    <div class="information">工地地址：{{order.address}}</div>
    <div class="information">详细地址：{{order.homeNum}}</div>
    <div class="information">户型：{{order.model}}</div>
</div>
<div class="image">
    <div class="name">户型图：</div>
    <div *ngFor="let data of order.floorPlan ">
        <img class="img" src="{{data}}" />
    </div>
</div>
<div class="image">
    <div class="name">成品效果图：</div>
    <div *ngFor="let data of order.workingPlan ">
        <img class="img" src="{{data}}" />
    </div>
</div>

<ng-container *ngIf="order.status < 200 && order.status != 102" >

  <div class="price">设置订金金额：<input nz-input type="number" placeholder="请输入订金金额" [(ngModel)]="value" class="input" /></div>

  <div class="choose">
    <div class="">请分配监管员：</div>
    <div class="select">
        <nz-select [(ngModel)]="name" (ngModelChange)="searchColNameChange($event)">
            <div *ngFor=" let data of profile">
                <nz-option nzValue="{{data.objectId}}" nzLabel="{{data.name}}"></nz-option>
            </div>
        </nz-select>
    </div>
</div>


<div class="button" ><button nz-button nzType="primary" nzShape="round" (click)="handleOk()">审核通过</button></div>
</ng-container>





<div class="button" *ngIf="order.status >= 200"><button nz-button nzType="primary" nzShape="round" >审核通过</button></div>

<div class="button" *ngIf="order.status == 102"><button nz-button nzType="primary" nzShape="round" >审核通过,等待支付定金</button></div>





