.content {
  font-size: 16px;
  min-height: 100%;
  padding-bottom: 50px;
  background-color: #fffbe5;
  p {
    margin-bottom: 0;
  }
  .title {
    color: #000000;
    display: flex;
    justify-content: center;
    font-size: 26px;
    padding: 60px 0;
  }
  .load {
    width: 100%;
    border-radius: 20px;
    text-align: center;
    letter-spacing: 2px;
    color: white;
    height: 80px;
    line-height: 80px;
  }
  .answer_info {
    font-size: 14px;
    text-align: right;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #7c7c7c;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid rgb(228, 228, 228);
    .user,
    .answer_time,
    .time {
      margin-right: 15px;
    }
  }
  .exam_area {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
    .topic-title {
      display: flex;
      white-space: normal;
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .ctopic-title {
      display: flex;
      margin: 10px 0 10px 20px;
      white-space: normal;
    }

    .option-row {
      display: flex;
      align-items: center;
      padding-left: 20px;
    }
    .option-radio {
      position: absolute;
      clip: rect(0, 0, 0, 0);
    }
    .option-value {
      display: inline-block;
      vertical-align: baseline;
      width: 100%;
      white-space: normal;
      height: auto;
    }
    .option-radio-place {
      content: "\a0"; /*不换行空格*/
      display: inline-block;
      vertical-align: middle;
      font-size: 18px;
      width: 18px;
      height: 18px;
      margin: 10px;
      border-radius: 50%;
      border: 1px solid #e0e0e0;
      text-indent: 0.15em;
      line-height: 1;
      // cursor: pointer;
      background-clip: content-box;
      padding: 4px;
    }
    /* 已选  */
    .option-select {
      .option-text {
        color: #ff4d4f;
      }
      .option-radio-place {
        background-color: #ff4d4f;
      }
    }
    /* 已选 正确  */
    .select-correct {
      .option-text {
        color: #1ca261;
      }
      .option-radio-place {
        background-color: #1ca261;
      }
    }
    /* 未选 正确  */
    .option-correct {
      color: #1ca261;
    }

    .analy {
      font-size: 14px;
      border-radius: 4px;
      padding: 20px;
      margin-top: 10px;
      .analy-row {
        // line-height: 24px;
        width: 100%;
        white-space: normal;
        margin-bottom: 0;
        padding: 10px 20px !important;
        // height: 22px;
      }
    }
  }
  /* 打印分页 */
  .page-break {
    page-break-after: always !important;
  }
  .nobreak {
    position: static;
    page-break-inside: avoid;
  }
}
// .exam_area ::ng-deep .ant-radio-wrapper-checked .option-value {
//   color: #ff4d4f;
// }

@media print {
  body {
    -webkit-print-color-adjust: exact;
    // color-adjust: exact;
  }
  p {
    margin-bottom: 0;
  }
  .content {
    font-size: 12pt;
    min-height: 100%;
    padding-bottom: 50px;
    background-color: #fffbe5 !important;
    .title {
      color: #000000;
      display: flex;
      justify-content: center;
      font-size: 18pt;
      padding: 60px 0;
    }
    .load {
      width: 100%;
      border-radius: 20px;
      text-align: center;
      letter-spacing: 2px;
      color: white;
      height: 80px;
      line-height: 80px;
    }
    .answer_info {
      font-size: 12pt;
      text-align: right;
      font-family: Microsoft YaHei;
      font-weight: 400;
      color: #7c7c7c;
      height: 30px;
      line-height: 30px;
      border-bottom: 1px solid rgb(228, 228, 228);
      margin-bottom: 20px;
      .user,
      .answer_time,
      .time {
        margin-right: 15px;
      }
    }

    .exam_area {
      margin: 0 auto;
      max-width: 1200px;
      padding: 0 20px;
      .topic-title {
        display: flex;
        white-space: normal;
        margin-top: 40px;
        margin-bottom: 40px;
      }

      .ctopic-title {
        display: flex;
        margin: 10px 0 10px 20px;
        white-space: normal;
      }
      .option-row {
        display: flex;
        align-items: center;
        padding-left: 20px;
      }
      .option-radio {
        position: absolute;
        clip: rect(0, 0, 0, 0);
      }
      .option-value {
        display: inline-block;
        vertical-align: baseline;
        width: 100%;
        white-space: normal;
        height: auto;
      }
      .option-radio-place {
        content: "\a0"; /*不换行空格*/
        display: inline-block;
        vertical-align: middle;
        font-size: 14pt;
        width: 18px;
        height: 18px;
        margin: 10px;
        border-radius: 50%;
        border: 1px solid #e0e0e0;
        text-indent: 0.15em;
        line-height: 1;
        background-clip: content-box !important;
        padding: 4px;
      }
      /* 已选  */
      .option-select {
        .option-text {
          color: #ff4d4f !important;
        }
        .option-radio-place {
          background-color: #ff4d4f !important;
        }
      }
      /* 已选 正确  */
      .select-correct {
        .option-text {
          color: #1ca261 !important;
        }
        .option-radio-place {
          background-color: #1ca261 !important;
        }
      }
      /* 未选 正确  */
      .option-correct {
        .option-text {
          color: #1ca261 !important;
        }
      }
      .analy {
        font-size: 12pt;
        border-radius: 4px;
        padding: 20px;
        margin-top: 10px;
        .analy-row {
          // line-height: 24px;
          width: 100%;
          white-space: normal;
          margin-bottom: 0;
          padding: 10px 20px !important;
          // height: 22px;
        }
      }
    }
    /* 打印分页 */
    .page-break {
      page-break-after: always !important;
    }
    .nobreak {
      position: static;
      page-break-inside: avoid;
    }
  }
}



::ng-deep .score-detail .ant-table-thead>tr>th,.ant-table-tbody>tr>td {
  height: 50px;
  font-size: 14px;
  color: #7c7c7c;
  background: #fffbe5 !important;
}
