<div class="diy_intro">
  <!-- 样式预览 -->
  <ng-container *ngIf="type == 'preview'; else editorTpl">
    <div class="preview">
      <div
        class="intro"
        [ngStyle]="{
          margin:
            block.style.areaMargin.top +
            'px ' +
            block.style.areaMargin.right +
            'px ' +
            block.style.areaMargin.bottom +
            'px ' +
            block.style.areaMargin.left +
            'px',
          width: block.style.width + '%',
          'background-color': block.style.backgroundColor
        }"
      >
        <ng-container *ngIf="block.column == 'row'">
          <ng-container *ngFor="let item of block.data.list; let i = index">
            <div
              class="intro_info"
              [ngStyle]="{
                padding:
                  block.style.padding.top +
                  'px ' +
                  block.style.padding.right +
                  'px ' +
                  block.style.padding.bottom +
                  'px ' +
                  block.style.padding.left +
                  'px'
              }"
            >
              <div class="intro_img">
                <img
                  [src]="item.image"
                  [ngStyle]="{
                    width: block.style.imageWidth + 'px',
                    height: block.style.imageHeight + 'px',
                    'border-radius': block.style.borderRadius + '%'
                  }"
                  alt=""
                />
              </div>
              <div
                class="intro_name"
                [ngStyle]="{
                  'font-size': block.style.fontSize + 'px'
                }"
              >
                {{ item.name }}
              </div>
              <div
                class="intro_desc"
                [ngStyle]="{
                  'font-size': block.style.descSize + 'px'
                }"
              >
                {{ item.desc }}
              </div>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="block.column == 'slide'">
          <ng-container *ngFor="let item of block.data.list; let i = index">
            <div
              class="intro_info"
              [ngStyle]="{
                padding:
                  block.style.padding.top +
                  'px ' +
                  block.style.padding.right +
                  'px ' +
                  block.style.padding.bottom +
                  'px ' +
                  block.style.padding.left +
                  'px'
              }"
            >
              <div class="intro_img">
                <img
                  [src]="item.image"
                  [ngStyle]="{
                    width: block.style.imageWidth + 'px',
                    height: block.style.imageHeight + 'px',
                    'border-radius': block.style.borderRadius + '%'
                  }"
                  alt=""
                />
              </div>
              <div
                class="intro_name"
                [ngStyle]="{
                  'font-size': block.style.fontSize + 'px'
                }"
              >
                {{ item.name }}
              </div>
              <div
                class="intro_desc"
                [ngStyle]="{
                  'font-size': block.style.descSize + 'px'
                }"
              >
                {{ item.desc }}
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <!-- 编辑器 -->
  <ng-template #editorTpl>
    <app-diy-toolbar
      [(editType)]="editType"
      (onTypeChange)="typeChange($event)"
      (onDelete)="deleteBlock()"
    >
    </app-diy-toolbar>
    <!-- 样式编辑 -->
    <ng-container *ngIf="editType == 'style'">
      <div class="inner">
        <nz-card style="margin: 10px 0" nzTitle="人物介绍区域">
          <div class="form-group">
            <nz-form-label class="control-label">排列方式</nz-form-label>
            <div class="input-group input-group-sm">
              <nz-radio-group
                (ngModelChange)="columnChange($event)"
                [(ngModel)]="block.column"
              >
                <label nz-radio nzValue="row">四个</label>
                <label nz-radio nzValue="slide">滑动</label>
              </nz-radio-group>
            </div>
          </div>
          <div class="form-group">
            <nz-form-label class="control-label">区域背景色</nz-form-label>
            <div class="input-group input-group-sm">
              <app-diy-color
                [(color)]="block.style.backgroundColor"
                (onColorChange)="block.style.backgroundColor = $event"
                class="input input_color"
              >
              </app-diy-color>
              <button
                (click)="reset('backgroundColor', 'color')"
                nz-button
                nzType="primary"
                nzDanger
              >
                重置
              </button>
            </div>
          </div>
          <div class="form-group">
            <nz-form-label class="control-label">宽度(%)</nz-form-label>
            <div class="input-group input-group-sm">
              <input
                nz-input
                class="input input_color"
                [(ngModel)]="block.style.width"
                type="number"
              />
            </div>
          </div>
          <div class="form-group">
            <nz-form-label class="control-label">区域外边距</nz-form-label>
            <div class="top">
              <span class="span_padding">上：</span>
              <input
                nz-input
                class="input_padding"
                placeholder="请输入数字"
                [(ngModel)]="block.style.areaMargin.top"
                maxlength="3"
                type="number"
              />
            </div>
            <div class="top">
              <span class="span_padding">右：</span>
              <input
                nz-input
                class="input_padding"
                placeholder="请输入数字"
                [(ngModel)]="block.style.areaMargin.right"
                maxlength="3"
                type="number"
              />
            </div>
            <div class="top">
              <span class="span_padding">下：</span>
              <input
                nz-input
                class="input_padding"
                placeholder="请输入数字"
                [(ngModel)]="block.style.areaMargin.bottom"
                maxlength="3"
                type="number"
              />
            </div>
            <div class="top">
              <span class="span_padding">左：</span>
              <input
                nz-input
                class="input_padding"
                placeholder="请输入数字"
                [(ngModel)]="block.style.areaMargin.left"
                maxlength="3"
                type="number"
              />
            </div>

            <button
              (click)="reset('areaMargin', 'margin')"
              nz-button
              nzType="primary"
              nzDanger
            >
              重置
            </button>
          </div>
          <div class="form-group">
            <nz-form-label class="control-label">内边距</nz-form-label>
            <div class="top">
              <span class="span_padding">上：</span>
              <input
                nz-input
                class="input_padding"
                placeholder="请输入数字"
                [(ngModel)]="block.style.padding.top"
                maxlength="3"
                type="number"
              />
            </div>
            <div class="top">
              <span class="span_padding">右：</span>
              <input
                nz-input
                class="input_padding"
                placeholder="请输入数字"
                [(ngModel)]="block.style.padding.right"
                maxlength="3"
                type="number"
              />
            </div>
            <div class="top">
              <span class="span_padding">下：</span>
              <input
                nz-input
                class="input_padding"
                placeholder="请输入数字"
                [(ngModel)]="block.style.padding.bottom"
                maxlength="3"
                type="number"
              />
            </div>
            <div class="top">
              <span class="span_padding">左：</span>
              <input
                nz-input
                class="input_padding"
                placeholder="请输入数字"
                [(ngModel)]="block.style.padding.left"
                maxlength="3"
                type="number"
              />
            </div>

            <button
              (click)="reset('padding', 'padding')"
              nz-button
              nzType="primary"
              nzDanger
            >
              重置
            </button>
          </div>
          <div class="form-group">
            <nz-form-label class="control-label">图片宽度</nz-form-label>
            <div class="input-group input-group-sm">
              <input
                nz-input
                class="input input_color"
                [(ngModel)]="block.style.imageWidth"
                type="number"
              />
            </div>
          </div>
          <div class="form-group">
            <nz-form-label class="control-label">图片高度</nz-form-label>
            <div class="input-group input-group-sm">
              <input
                nz-input
                class="input input_color"
                [(ngModel)]="block.style.imageHeight"
                type="number"
              />
            </div>
          </div>
          <div class="form-group">
            <nz-form-label class="control-label">圆角大小(%)</nz-form-label>
            <div class="input-group input-group-sm">
              <input
                nz-input
                class="input input_color"
                [(ngModel)]="block.style.borderRadius"
                type="number"
              />
            </div>
          </div>
          <div class="form-group">
            <nz-form-label class="control-label">名称字体大小</nz-form-label>
            <div class="input-group input-group-sm">
              <input
                nz-input
                class="input input_color"
                [(ngModel)]="block.style.fontSize"
                type="number"
              />
            </div>
          </div>
          <div class="form-group">
            <nz-form-label class="control-label">简介字体大小</nz-form-label>
            <div class="input-group input-group-sm">
              <input
                nz-input
                class="input input_color"
                [(ngModel)]="block.style.descSize"
                type="number"
              />
            </div>
          </div>
        </nz-card>
      </div>
    </ng-container>

    <!-- 数据编辑 -->
    <ng-container *ngIf="editType == 'data'">
      <div class="data">
        <div class="form-group">
          <nz-form-label class="control-label">数据来源</nz-form-label>
          <div class="input-group">
            <nz-radio-group
              (ngModelChange)="srcChange($event)"
              [(ngModel)]="block.data.src"
            >
              <label nz-radio nzValue="list">静态数据</label>
              <label nz-radio nzValue="filter">抓取数据</label>
            </nz-radio-group>
          </div>
        </div>
        <nz-form-label class="control-label">功能数据</nz-form-label>
        <ng-container *ngFor="let item of block.data.list; let i = index">
          <nz-card class="list">
            <button class="delete" (click)="onDelete(i)">删除</button>
            <div class="li">
              <nz-form-label class="control-label">人物名称</nz-form-label>
              <div class="input-group">
                <input
                  type="text"
                  class="input input_text"
                  [(ngModel)]="item.name"
                />
              </div>
            </div>
            <div class="li">
              <nz-form-label class="control-label">人物简介</nz-form-label>
              <div class="input-group">
                <input
                  type="text"
                  class="input input_text"
                  [(ngModel)]="item.desc"
                />
              </div>
            </div>
            <div class="li">
              <nz-form-label class="control-label">跳转地址</nz-form-label>
              <div class="input-group">
                <app-edit-url
                  [(url)]="item.url"
                  onUrlChange="urlChange($event,index)"
                ></app-edit-url>
              </div>
            </div>
            <div class="li image">
              <nz-form-label class="control-label">人物图标</nz-form-label>
              <div></div>
              <app-edit-filemanager
                [multi]="dalse"
                [(url)]="item.image"
              ></app-edit-filemanager>
              <div></div>
            </div>
          </nz-card>
        </ng-container>
        <button (click)="addIcon()" nz-button nzType="primary" class="btn">
          添加一个
        </button>
      </div>
    </ng-container>
  </ng-template>
</div>
