.file-item{
    margin-top: 9px;
    margin-left: 9px;
    float: left;
    button{
      position: absolute;
      top: -10px;
      margin-left: 74px;
    }
  }
  
  .divimg {
    height: 100px;
    width: 100px;
    // margin-right: 10px;
  }
  
  .img {
    height: 100px;
    width: 100px;
    cursor: pointer;
  }
  
  //end
  