<p>学员证书打印
    <button style="margin-left:5px;" nz-button nzSize="small" nzType="primary" (click)="print('certFront')">打印：第一页</button>
    <button style="margin-left:5px;" nz-button nzSize="small" nzType="primary" (click)="print('certBack')">打印：第二页</button>
    <button style="margin-left:5px;" nz-button nzSize="small" nzType="default" (click)="goBack()">返回班级</button>
</p>


<div #certFront style="margin-top:10px;    height: 95mm;" class="cert-preview">
    <div class="cert-front cert-paper-layout">
        <div class="cert-left">
            <div class="content date-created"><span>{{printJSON.date_created | date:'yyyy'}}</span><span>{{printJSON.date_created | date:'MM'}}</span><span>{{printJSON.date_created | date:'dd'}}</span></div>
        </div>
        <div class="cert-right">
            <div class="content name">{{printJSON.name}}</div>
            <div class="content gender">{{printJSON.gender}}</div>
            <div class="content idcard">{{printJSON.idcard}}</div>
            <!-- <div class="content school-name">南昌亿安达消防职业培训学校</div> -->

            <div class="content date-from"><span>{{printJSON.date_from | date:'yyyy'}}</span><span>{{printJSON.date_from | date:'MM'}}</span><span>{{printJSON.date_from | date:'dd'}}</span></div>
            <div class="content date-to" style="margin-left:-3mm;"><span>{{printJSON.date_to | date:'yyyy'}}</span><span>{{printJSON.date_to | date:'MM'}}</span><span>{{printJSON.date_to | date:'dd'}}</span></div>
        </div>
        
    </div>
</div>

<div #certBack style="margin-top:80px;    height: 95mm;" class="cert-preview">
    <div class="cert-back cert-paper-layout">
        <div class="cert-left">
            <ul class="content course-list">
                    <li *ngFor="let course of printJSON.course">
                            <span class="course-name">{{course.name}}</span>
                            <span class="course-hour" style="margin-left:-10mm">{{course.hour}}</span>
                            <span class="course-grade" style="margin-left:-7mm">{{course.grade}}</span>
                    </li>
                <!-- <li>
                    <span class="course-name">理论结业成绩</span>
                    <span class="course-hour">-</span>
                    <span class="course-grade">97.0</span>
                </li>
                <li>
                        <span class="course-name">实操结业成绩</span>
                        <span class="course-hour">-</span>
                        <span class="course-grade">74.0</span>
                </li>
                <li>
                        <span class="course-name">理论鉴定成绩</span>
                        <span class="course-hour">100</span>
                        <span class="course-grade">合格</span>
                </li>
                <li>
                        <span class="course-name">实操鉴定成绩</span>
                        <span class="course-hour">140</span>
                        <span class="course-grade">合格</span>
                </li> -->
            </ul>

        </div>
        <div class="cert-right">
            <div class="content cert-num">{{printJSON.certNum}}</div>
            <div class="content cert-title">{{printJSON.certTitle}}</div>
        </div>
    </div>
</div>