::ng-deep .ant-checkbox-group-item {
    display: inline-block;
    margin-right: 8px;
    font-weight: 500;
    font-size: 16px;
    margin:0 0 10px 0;
    white-space: nowrap;
    overflow: hidden;
}
