.file-item{
  margin-top: 9px;
  margin-left: 9px;
  float: left;
  .item {
    position: relative;
    button {
      position: absolute;
      top: -11px;
      left: 82px;
    }
  }
  
}

.divimg {
  height: 100px;
  width: 100px;
  // margin-right: 10px;
}

.img {
  height: 100px;
  width: 100px;
  cursor: pointer;
}

//end
