.content {
  min-width: 600px;
  // width: 92%;
  min-height: 700px;
  // max-width: 62.5%;
  // margin: 10px auto 40px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #000000;
  .wrapper {
    background-color: #fff;
    padding: 30px 60px;
    margin: 0 auto;
    min-height: 700px;
    width: 1200px;
  }
  .name {
    // text-align: center;
    // font-size: 12px;
    margin-top: 5px;
    padding: 10px 0;
    // font-weight: 400;
    span {
      font-weight: 500;
    }

  }

  .undergo {
    padding: 20px 0;
    span {
      font-weight: 500;
    }
    // font-size: 12px;

  }
}
