<div class="head">
  <div class="fun-btn">
    <button nz-button [nzSize]="size" nzType="primary" style="margin: 0 10px 0 0 ;"
      (click)="getFilterData('all')">全部</button>
    <button nz-button [nzSize]="size" nzType="primary" style="margin: 0 10px 0 0 ;"
      (click)="getFilterData('paidIn')">已缴费</button>
    <button nz-button [nzSize]="size" nzType="primary" style="margin: 0 10px 0 0 ;"
      (click)="getFilterData('noPay')">待缴费</button>
  </div>

  <div class="search">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input [(ngModel)]="inputStudentID" placeholder="输入学号搜索" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="searchStudent()"><i nz-icon nzType="search"></i></button>
    </ng-template>
  </div>
</div>

<div class="content">
  <nz-table [nzScroll]="{y: 'calc(100vh - 302px)' }" [nzShowPagination]="true" #basicTable [nzData]="filterData" nzPageSize="20" nzPaginationPosition="bottom" #borderedTable nzBordered>
    <thead>
      <tr style="height: 36px;">
        <ng-container *ngFor="let item of tableHead">
          <th [nzAlign]="'center'">{{item}}</th>
        </ng-container>
      </tr>
    </thead>
    <tbody style="width: 100%;">
      <tr *ngFor="let data of basicTable.data, let index = index">
        <td [nzAlign]="'center'">{{ data.batch ? data.batch : '暂无'  }}</td>
        <td [nzAlign]="'center'">{{ data.studentID ? data.studentID : '暂无'  }}</td>
        <td (click)="showStudent(data)" [nzAlign]="'center'" style="color: #06bee7;">{{ data.name ? data.name : '暂无' }}</td>
        <td [nzAlign]="'center'">{{ data.idcard ? data.idcard : '暂无' }}</td>
        <td [nzAlign]="'center'">{{ data.mobile ? data.mobile : '暂无' }}</td>
        <td [nzAlign]="'center'">{{ data.sex ? data.sex : '暂无' }}</td>
        <td [nzAlign]="'center'">{{ data.schoolname ? data.schoolname: '暂无' }}</td>
        <td [nzAlign]="'center'">{{ data.major ? data.major: '暂无' }}</td>
        <td [nzAlign]="'center'">{{ data.major ? data.class: '暂无' }}</td>
        <td [nzAlign]="'center'">{{ data.studentType ? data.studentType: '暂无' }}</td>
        <td [nzAlign]="'center'">{{ data.identyType ? data.identyType: '暂无' }}</td>
        <td [nzAlign]="'center'">{{ data.centername ? data.centername : "暂无" }}</td>
        <td [nzAlign]="'center'">{{ data.isCheck ? '是':'否' }}</td>
        <td [nzAlign]="'center'">
          <ng-container *ngIf="data.isBilling">
            <button nz-button nzType="primary" (click)="checkBill(data)">查看发票</button>
          </ng-container>
          <ng-container *ngIf="!data.isBilling">
            <button nz-button disabled nzType="default">查看发票</button>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="缴费发票" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <p style="margin-bottom: 10px;">学费发票:</p>
    <img [src]="tuitionBill" style="width: 100px; height: 100px;  margin-bottom: 20px;" alt="">
    <p style="margin-bottom: 10px;">论文费发票:</p>
    <img [src]="tuitionBill" style="width: 100px; height: 100px;" alt="">
  </ng-container>
</nz-modal>


<nz-modal [nzBodyStyle]="{
  width:'100%',
  overflow: 'auto',
  'padding-bottom': '53px'
}" [nzMaskClosable]="false" [nzWidth]="'50%'" [nzZIndex]="800"  [(nzVisible)]="isShowInfo" nzTitle="学员信息" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <h4 style="border-bottom: 1px solid #ddd;">学员信息</h4>
    <div class="studentInfo">
      <div class="item">
        <div>学生姓名：{{studentInfo.name ? studentInfo.name : '暂无'}}</div>
        <div>学生性别：{{studentInfo.sex ? studentInfo.sex : '暂无'}}</div>
      </div>
      <div class="item">
        <div>批次：{{studentInfo.batch ? studentInfo.batch : '暂无'}} </div>
        <div>学号：{{studentInfo.studentId ? studentInfo.studentId : '暂无'}}</div>
      </div>
      <div class="item">
        <div>手机号：{{studentInfo.mobile ? studentInfo.mobile : '暂无'}}</div>
        <div>身份证号：{{studentInfo.idcard ? studentInfo.idcard : '暂无'}}</div>
      </div>
      <div class="item">
        <div>学校：{{studentInfo.schoolname ? studentInfo.schoolname : '暂无'}}</div>
        <div>代理中心：{{studentInfo.centername ? studentInfo.centername : '暂无'}}</div>
      </div>
      <div class="item">
        <div>专业：{{studentInfo.major ? studentInfo.major : '暂无'}}</div>
        <div>班级：{{studentInfo.class ? studentInfo.class : '暂无'}}</div>
      </div>
      <div class="item">
        <div>身份类型：{{studentInfo.identyType ? studentInfo.identyType : '暂无'}}</div>
        <div>学员状态：{{studentInfo.studentType ? studentInfo.studentType : '暂无'}}</div>
      </div>
      <div class="item">
        <div>缴费状态：{{studentInfo.isCheck ? '已缴费' : '待缴费'}}</div>
        <div>是否全款: {{studentInfo.isFull ? '全款' : '部分'}}</div>
      </div>
    </div>
    <h4 style="border-bottom: 1px solid #f6f6f6;">学员成绩</h4>
  </ng-container>
</nz-modal>
