<div class="dashboard-container">
  <div class="header">
    <div class="title">旅游集散-阜康市</div>
    <i nz-icon nzType="fullscreen" nzTheme="outline" class="screen-icon" *ngIf="fullscreen"
      (click)="switchFullScreen()"></i>
    <i nz-icon nzType="fullscreen-exit" nzTheme="outline" class="screen-icon" *ngIf="!fullscreen"
      (click)="switchFullScreen()"></i>
  </div>
  <!-- 各乡镇人口对比图 -->
  <div echarts [options]="histogrimOptions" class="chart histogrim-chart box-bg"></div>
  <!-- <div echarts [options]="merchantOptions" class="chart merchant-chart"></div> -->
  <!-- 各乡镇商户数排名 -->
  <div class="chart chart-list merchants-chart box-bg">
    <div class="title">各乡镇商户数排名</div>
    <div class="list merchants-list">
      <div class="list-header">
        <div class="header-item start">排名</div>
        <div class="header-item">乡镇名</div>
        <div class="header-item end">商户数</div>
      </div>
      <div class="list-content">
        <div class="list-item" *ngFor="let item of merchantData;let i = index;">
          <div class="item-start ">{{i + 1}}</div>
          <div class="item-content">{{item.name || '无所属乡镇'}}</div>
          <div class="item-end">{{item.count}}</div>
        </div>
      </div>
    </div>
  </div>
  <!-- 今日消费订单情况 -->
  <div class="chart  chart-list order-chart-top box-bg">
    <div class="title">今日消费订单情况</div>
    <div class="list order-list">
      <div class="list-header">
        <div class="header-item start">订单类型</div>
        <div class="header-item">商户名称</div>
        <div class="header-item end">下单时间</div>
      </div>
      <div class="list-content">
        <div class="list-item" *ngFor="let order of todayOrders">
          <div class="item-start ">{{order.type}}</div>
          <div class="item-content">{{order.name}}</div>
          <div class="item-end">{{order.createdAt | date: 'mm/dd HH:mm:ss'}}</div>
        </div>
      </div>
    </div>
  </div>
  <div echarts [options]="OrderOptions" class="chart order-chart box-bg"></div>
  <!-- 各乡镇旅客接待数量对比 -->
  <div class="chart chart-list traveller-chart box-bg">
    <div class="title">各乡镇旅客接待数量对比</div>
    <div class="list traveller-list">
      <div class="list-header">
        <div class="header-item start">乡镇名</div>
        <div class="header-item">今日接待量</div>
        <div class="header-item end">昨日接待量</div>
      </div>
      <div class="list-content">
        <div class="list-item" *ngFor="let villagePassenger of passengerCountsData">
          <div class="item-start ">{{villagePassenger.name}}</div>
          <div class="item-content">{{villagePassenger.count1}}</div>
          <div class="item-end">{{villagePassenger.count2}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="chart turnover-chart box-bg" [ngClass]="fullscreen?'fullwidth':''">
    <nz-select *ngIf="year" class="select-year" [nzDropdownClassName]="'select-dropdown'" size="small"
      [(ngModel)]="year" (ngModelChange)="changeYear($event)">
      <ng-container *ngFor="let y of years">
        <nz-option class="select-dropdown" [nzValue]="y" [nzLabel]="y + '年'"></nz-option>
      </ng-container>
    </nz-select>
    <div echarts [options]="PopulatOptions" id="turnover-chart"></div>
  </div>
  <!-- <div echarts [options]="mapOptions " class="chart map-chart"></div> -->
  <div class="map-wrapper">
    <iframe id="map-iframe" class="map-chart" src="https://maplab.amap.com/share/mapv/1df90c8f6018f85bbb7d95f1d5d96380"
      border="0" [scrolling]="'no'"></iframe>
    <!-- <iframe id="map-iframe" class="map-chart" src="https://maplab.amap.com/share/mapv/1df90c8f6018f85bbb7d95f1d5d96380"
      border="0" [scrolling]="'no'"></iframe> -->
  </div>



  <!-- (chartInit)="onChartInit($event)" -->
</div>
