<div class="cate-container">
  <div class="head">
    <div class="search" style="width: 500px;" *ngIf="!showExport && !isLoading">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" [nzAddOnBefore]="addOnBeforeTemplate">
        <input (keyup.enter)="searchStudent()" type="text" nz-input [(ngModel)]="inputValue" placeholder="输入关键词搜索" />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch (click)="searchStudent()"><i nz-icon nzType="search"></i></button>
      </ng-template>
      <ng-template #addOnBeforeTemplate>
        <nz-select style="width: 100px;margin: 0 5px 0 10px;" [ngModel]="searchType.value"
          (ngModelChange)="searchTypeChange($event)">
          <ng-container *ngFor="let option of listOfColumn;let index = index;">
            <ng-container *ngIf=" listOfColumn.length > index">
              <nz-option [nzLabel]="option.title" nzValue="{{option.value}}"></nz-option>
            </ng-container>
          </ng-container>
        </nz-select>
      </ng-template>
    </div>
    <button (click)="getBatchId()" class="ope-btn" nz-button nzType="primary">打包下载</button>
    <button (click)="batchExportImg()" class="ope-btn" nz-button nzType="primary">批量导入图片</button>
  </div>
  <div class="score-table" *ngIf="!showExport">
    <nz-table [nzScroll]="{y: 'calc(100vh - 302px)' }" #sortTable [nzPageSize]="pageSize" [nzData]="filterData" nzTableLayout="fixed" [(nzLoading)]="isLoading"
      [nzShowPagination]="true" [nzShowQuickJumper]="true" [(nzTotal)]="filterLen" [(nzPageIndex)]="pageIndex"
      [nzShowTotal]="totalTemplate" nzPaginationPosition="bottom" (nzPageIndexChange)="pageChange($event)"
      [nzFrontPagination]="false" nzSize="small" [nzShowSizeChanger]="true" (nzPageSizeChange)="pageSizeChange($event)">
      <thead style="height: 50px;">
        <tr>
          <th  [nzShowCheckbox]="true" [nzSelections]="listOfSelection" [(nzChecked)]="AllExChecked" [nzIndeterminate]="indeterminate"
                (nzCheckedChange)="onExAllChecked($event)"></th>
          <th style="font-size: 18px;" nzAlign="center" *ngFor="let column of listOfColumn;">{{ column.title }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of sortTable.data;let Index = index;">
          <td [nzShowCheckbox]="true" [(nzChecked)]="data.checked" (nzCheckedChange)="onItemChecked(data, $event)"></td>
          <ng-container *ngIf="!pCompany || center">
            <td nzAlign="center">{{ data.shortname }}</td>
          </ng-container>
          <td nzAlign="center">{{ data.name}}</td>
          <td nzAlign="center">{{ data.sex}}</td>
          <td nzAlign="center">{{ data.idcard}}</td>
          <td nzAlign="center">{{ data.studentID ? data.studentID : '无'}}</td>
          <td nzAlign="center">{{ data.centerName}}</td>
          <td nzAlign="center">{{ data.school}}</td>
          <td nzAlign="center">{{ data.majorName}}</td>
          <td nzAlign="center">{{ data.education}}</td>
          <td nzAlign="center">{{ data.batch}}</td>
          <td nzAlign="center">{{ data.identyType}}</td>
          <td nzAlign="center"><img nz-image width="200px" height="200px" [src]="data.image?data.image:''" alt="">
          </td>
          <td nzAlign="center"><img nz-image width="200px" height="200px" [src]="data.photo?data.photo:''" alt="">
          </td>
          <td nzAlign="center"><img nz-image width="200px" height="200px" [src]="data.eduImage?data.eduImage:''" alt="">
          </td>
          <td nzAlign="center">
            <button (click)="operate('edit',data)" class="ope-btn" nz-button nzType="primary">编辑</button>
            <button (click)="operate('fileDownload',data)" class="ope-btn" nz-button nzType="primary">一键下载</button>
            <!-- <button (click)="downloadFile('test')" class="ope-btn" nz-button nzType="primary">打包下载</button> -->
          </td>
        </tr>
      </tbody>
      <ng-template #totalTemplate let-total>共 {{filterLen}} 条</ng-template>
    </nz-table>
  </div>
  <nz-modal [(nzVisible)]="isVisibleEditModal" nzTitle="照片管理" [nzContent]="modalContent"
    [nzFooter]="modalFooter" (nzOnCancel)="isVisibleEditModal=false" (nzOnCancel)="isVisibleEditModal=false">
    <ng-template #modalContent>
      <div>
        <table class="pro_info">
          <tr>
            <td class="depa_info">院校: </td>
            <td colSpan="2" style="transform: translatex(-30px);">{{object.shortname}}</td>
          </tr>
          <tr>
            <td style="padding-right: 7px;font-weight: 600;width: 76px;">教学点: </td>
            <td colSpan="2" style="width: 80px;">{{object.centerName}}</td>
          </tr>
          <tr>
            <td style=" font-weight: 600;">姓名: </td>
            <td style="transform: translatex(-30px);">{{object.name}}</td>
            <td  style="font-weight: 600;padding-left:20px;">性别: </td>
            <td style="padding-left: 20px;">{{object.sex}}</td>
          </tr>
          <tr>
            <td  style=" font-weight: 600;">层次: </td>
            <td style="transform: translatex(-30px);">{{object.education}}</td>
            <td  style=" font-weight: 600;padding-left: 20px;">专业: </td>
            <td>{{object.majorName}}</td>
          </tr>
        </table>
      </div>
      <div class="modal-cont" style="display: flex;flex-wrap:wrap;">
        <ng-container *ngIf="object" >
          <div>
            <ng-container>
              <p>证件照</p>
              <!-- <p (click)="deleteImg('image')" *ngIf="image" class="removeImg_x">×</p>
              <nz-upload class="avatar-uploader" nzAction="https://upload-z2.qiniup.com/" [nzDisabled]="image"
                nzListType="picture-card" [nzShowUploadList]="false" [nzCustomRequest]="customRequest"
                [nzBeforeUpload]="beforeUpload">
                <ng-container *ngIf="!image">
                  <div class="ant-upload-text">点击上传证件照</div>
                </ng-container>
                <img *ngIf="image" [src]="image" style="width: 100%" />
              </nz-upload> -->
              <!--  (urlsChange)="imageChange($event)" -->
              <nova-filemanager [multi]="false" [(url)]="image"> </nova-filemanager>
            </ng-container>
          </div>
          <div>
            <ng-container>
              <p>身份证照片</p>
              <!-- <p (click)="deleteImg('photo')" *ngIf="photo" class="removePh_x">×</p>
              <nz-upload class="avatar-uploader" nzAction="https://upload-z2.qiniup.com/" [nzDisabled]="photo"
                nzListType="picture-card" [nzShowUploadList]="false" [nzCustomRequest]="customRequest"
                [nzBeforeUpload]="beforeUpload">
                <ng-container *ngIf="!photo">
                  <div class="ant-upload-text">点击上传证件照</div>
                </ng-container>
                <img *ngIf="photo" [src]="photo" style="width: 100%" />
              </nz-upload> -->
              <nova-filemanager [multi]="false" [(url)]="photo" (urlChange)="photoChange($event)"> </nova-filemanager>
            </ng-container>
          </div>
          <div>
            <ng-container>
              <p>毕业证照片</p>
              <!-- <p (click)="deleteImg('eduImage')" *ngIf="eduImage" class="removeEdu_x">×</p>
              <nz-upload class="avatar-uploader" nzAction="https://upload-z2.qiniup.com/" [nzDisabled]="eduImage"
                nzListType="picture-card" [nzShowUploadList]="false" [nzCustomRequest]="customRequestEduImage"
                [nzBeforeUpload]="beforeUpload">
                <ng-container *ngIf="!eduImage">

                  <div class="ant-upload-text">点击上传证件照</div>
                </ng-container>
                <img *ngIf="eduImage" [src]="eduImage" style="width: 100%" />
              </nz-upload> -->
              <nova-filemanager [multi]="false" [(url)]="eduImage"> </nova-filemanager>
            </ng-container>
          </div>
        </ng-container>
      </div>

    </ng-template>
    <ng-template #modalFooter>
      <button nz-button nzType="default" (click)="isVisibleEditModal=false">关闭</button>
      <button nz-button nzType="primary" (click)="operate('save',object.objectId)"
        [nzLoading]="isConfirmLoading">保存</button>
    </ng-template>
  </nz-modal>


  <nz-modal [(nzVisible)]="isVisibleEditImage" nzTitle="批量导入图片" [nzContent]="modalContentImg"
    [nzFooter]="modalFooterImg" (nzOnCancel)="isVisibleEditImage=false" [nzWidth]="700" (nzOnCancel)="isVisibleEditImage=false">
    <ng-template #modalContentImg>
      <div>
        <ng-container>
          <nova-filemanager [multi]="true" (urlsChange)="imageChange($event)"></nova-filemanager>
        </ng-container>
      </div>
    </ng-template>
    <ng-template #modalFooterImg>
      <button nz-button nzType="default" (click)="isVisibleEditImage=false">关闭</button>
      <button nz-button nzType="primary" (click)="batchSaveImage()" [nzLoading]="isConfirmLoading">保存</button>
    </ng-template>
  </nz-modal>

</div>
