<div class="exam">
  <div class="header">
    <h3>学位英语考试</h3>
    <button nz-button nzType="primary" (click)="showModal()">开始答题</button>
  </div>
  <div class="paper">
  </div>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="考试确认" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
      <p>
        一、考前考生必须认真阅读《2020年辽宁省成人学位英语考试疫情防控承诺书》，并如实填写。从10月24日起来自（途径）疫情中高风险地区的考生一律不得参加本次考试。

        二、考生须在考前50分钟到达考场，参加考试必须携带：

        1.本人准考证和二代身份证参加考试（临时身份证不能参加考试）；

        2.本人填写好并签字的《2020年辽宁省成人学位英语考试疫情防控承诺书》；

        3.出示手机上的辽事通健康通行码（绿码）。

        三、考生进入考场时必须佩戴口罩、接受体温测量、上交《2020年辽宁省成人学位英语考试疫情防控承诺书》、通过人脸识别和身份证验证后方可进入考场。

        四、考生一律不得将手机、纸、笔带入考场。进入考场时，各种通讯工具必须关机，且不得随身携带，考生须将手机等携带物品放在指定位置，不服从者按作弊处理。

        五、考生入场落座后即可登录考试系统，进入倒计时页面等待，并核对相关信息。考生信息以报名库为准，不得更改。

        六、考试正式开始后，考生方可答题；考试开始30分钟后，迟到考生不得进入考场；考生在开考30分钟后，方可交卷离开考场。

        七、考生须严格遵守考试纪律。有考试违纪行为的考生，取消其考试成绩；有作弊行为的考生，取消其考试成绩，并停考一次；代替他人或由他人代替参加考试的，不再允许其报名参加考试并通报考生所在学籍高校。

        八、考试成绩采用标准分，分为合格、不合格两个等级。考试结束3周后，考生可登录报名网站https://lnxwyy.webtrn.cn查询成绩。
      </p>
    </ng-container>
  </nz-modal>
</div>