.exam {
    padding: 20px;
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h3{
        text-align: center;
        margin-right: 200px;
    }
}