<div class="content">
    <div class="container-sub column">
        <div class="kpi">
            <h3>关键指标</h3>
            <div class="row">
                <dl class="cell">
                    <dt>消费客数</dt>
                    <dd>
                        <strong id="touristSource">45</strong>
                    </dd>
                    <dd>
                        <span id="touristSourceSpan" class="mr10">占比56.96%</span>
                    </dd>
                </dl>
                
                <dl class="cell">
                    <dt>贡献营业额</dt>
                    <dd>
                        <strong id="turnover">
                            385578.56
                        </strong>
                    </dd>
                    <dd>
                        占比
                        <span id="turnoverSpan" class="mr10">18.37</span>
                    </dd>
                </dl>
                <dl class="cell">
                    <dt>贡献毛利</dt>
                    <dd>
                        <strong id="groupFenhong">77957.20</strong>
                    </dd>
                    <dd>
                        占比<span id="groupFenhongSpan" class="mr10">57.01%</span>
                    </dd>
                </dl>
                <dl class="cell">
                    <dt>股东分红</dt>
                    <dd>
                        <strong id="gdFenhong">58785.48</strong>
                    </dd>
                    <dd>
                        占比<span id="gdFenhongSpan" class="mr10">42.99%</span>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div echarts [options]="options" [loading]="isLoading" theme="macarons" class="demo-chart"></div>
    <div echarts [options]="options_1" class="demo-chart"
    (chartInit)="onChartEvent($event, 'chartInit')"
    (chartClick)="onChartEvent($event, 'chartClick')"
    (chartDblClick)="onChartEvent($event, 'chartDblClick')"
    (chartMouseDown)="onChartEvent($event, 'chartMouseDown')"
    (chartMouseUp)="onChartEvent($event, 'chartMouseUp')"
    (chartMouseOver)="onChartEvent($event, 'chartMouseOver')"
    (chartMouseOut)="onChartEvent($event, 'chartMouseOut')"
    (chartGlobalOut)="onChartEvent($event, 'chartGlobalOut')"
    (chartContextMenu)="onChartEvent($event, 'chartContextMenu')"
    (chartDataZoom)="onChartEvent($event, 'chartDataZoom')">
    </div>
</div>