<div class="cate-container">
  <div class="head">
    <div class="search" style="width: 500px;" *ngIf="!isLoading">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" [nzAddOnBefore]="addOnBeforeTemplate">
        <input (keyup.enter)="searchStudent()" type="text" nz-input [(ngModel)]="inputValue" placeholder="输入关键词搜索" />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch (click)="searchStudent()"><i nz-icon nzType="search"></i></button>
      </ng-template>
      <ng-template #addOnBeforeTemplate>
        <nz-select style="width: 100px;margin: 0 5px 0 10px;" [ngModel]="searchType.value"
          (ngModelChange)="searchTypeChange($event)">
          <ng-container *ngFor="let option of listOfColumn;let index = index;">
            <ng-container *ngIf=" listOfColumn.length > index">
              <nz-option [nzLabel]="option.title" nzValue="{{option.value}}"></nz-option>
            </ng-container>
          </ng-container>
        </nz-select>
      </ng-template>
    </div>
    <button nz-button nzType="primary" (click)="operate('add')">添加题目</button>
  </div>
  <div class="score-table" *ngIf="!showExport">
    <nz-table [nzScroll]="{y: 'calc(100vh - 302px)' }" #sortTable [nzPageSize]="pageSize" [nzData]="filterData" nzTableLayout="fixed" [(nzLoading)]="isLoading"
      [nzShowPagination]="true" [nzShowQuickJumper]="true" [(nzTotal)]="filterLen" [(nzPageIndex)]="pageIndex"
      [nzShowTotal]="totalTemplate" nzPaginationPosition="bottom" (nzPageIndexChange)="pageChange($event)"
      [nzFrontPagination]="false" nzSize="small" [nzShowSizeChanger]="true" (nzPageSizeChange)="pageSizeChange($event)">
      <thead style="height: 50px;">
        <tr>
          <th style="font-size: 18px;" nzAlign="center" *ngFor="let column of listOfColumn;">{{ column.title }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of sortTable.data;let Index = index;">
          <td nzAlign="center">{{ data.title.substring(0,30) }}</td>
          <td nzAlign="center" *ngIf="data.type == 'select-single'">单选</td>
          <td nzAlign="center" *ngIf="data.type == 'select-multiple'">多选</td>
          <td nzAlign="center" *ngIf="data.type == 'text'">简答</td>
          <td nzAlign="center">{{ data.score }}</td>
          <!-- <td nzAlign="center">{{ data.isEnabled ? '开启' : '关闭'}}</td> -->
          <td nzAlign="center">
            <nz-switch [ngModel]="data.isEnabled" nzCheckedChildren="开启" nzUnCheckedChildren="关闭" (ngModelChange)="checkIsEnabled($event,data.objectId)"></nz-switch>
          </td>
          <td nzAlign="center">{{ data.index }}</td>
          <td nzAlign="center">
            <!-- <button nz-button nzType="primary" (click)="toDetail(data.objectId)">题目详情</button> -->
            <br />
            <button nz-button nzType="primary" (click)="operate('edit',data)"><i nz-icon nzType="edit"></i></button>
            &nbsp;&nbsp;&nbsp;
            <a nz-popconfirm [nzPopconfirmTitle]="'确认删除该条试卷数据?'" nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="operate('delete',data.objectId)" (nzOnCancel)="null">
              <button nz-button nzType="primary" nzDanger><i nz-icon nzType="delete"></i></button>
            </a>
          </td>
        </tr>
      </tbody>
      <ng-template #totalTemplate let-total>共 {{filterLen}} 条</ng-template>
    </nz-table>
  </div>
  <nz-modal [(nzVisible)]="operatModal" [nzTitle]="modalTitle2" [nzContent]="modalContent2" [nzFooter]="modalFooter2"
    (nzOnCancel)="operatModal=false" [nzWidth]="'70%'" nzMaskClosable="false">
    <ng-template #modalTitle2>添加信息</ng-template>
    <ng-template #modalContent2>
      <div class="field-wrapper">
        <ng-container>
          <div class="field-item">
            <p><span class="red_sapn">*</span>题目: </p>
            <div style="flex:1;">
              <ng-container style="display: flex;">
                <!-- <input nz-input type="text" [(ngModel)]="object['title']" /> -->
                <textarea rows="4" nz-input [(ngModel)]="object['title']"></textarea>
              </ng-container>
            </div>
          </div>
          <div class="field-item">
            <p>解析: </p>
            <div style="flex:1;">
              <ng-container style="display: flex;">
                <!-- <input nz-input type="text" [(ngModel)]="object['title']" /> -->
                <textarea rows="4" nz-input [(ngModel)]="object['answer']"></textarea>
              </ng-container>
            </div>
          </div>
          <div class="field-item">
            <p><span class="red_sapn">*</span>题目类型: </p>
            <div style="flex:1;">
              <ng-container style="display: flex;">
                <nz-radio-group [(ngModel)]="object['type']" (ngModelChange)="opertionType($event)">
                  <label nz-radio nzValue="select-single">单选</label>
                  <label nz-radio nzValue="select-multiple">多选</label>
                  <label nz-radio nzValue="text">简答</label>
                </nz-radio-group>
              </ng-container>
            </div>
          </div>
          <div class="field-item" *ngIf="object['type'] != 'text'">
            <p><span class="red_sapn">*</span>答案选项: </p>
            <div style="flex:1;">
              <ng-container style="display: flex;">

                选项A: <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButtonA">
                  <input type="text" nz-input placeholder="input search text" [(ngModel)]="object['options'][0].value"/>
                </nz-input-group>
                <ng-template #suffixButtonA>
                  <button nz-button nzType="primary" nzSize="large" nzSearch *ngIf="object['options'][0].check">正确答案</button>
                  <button nz-button nzType="primary" nzSize="large" nzSearch nzDanger *ngIf="!object['options'][0].check" (click)="option('A')">设为正确</button>
                </ng-template>
                选项B: <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButtonB">
                  <input type="text" nz-input placeholder="input search text" [(ngModel)]="object['options'][1].value"/>
                </nz-input-group>
                <ng-template #suffixButtonB>
                  <button nz-button nzType="primary" nzSize="large" nzSearch *ngIf="object['options'][1].check">正确答案</button>
                  <button nz-button nzType="primary" nzSize="large" nzSearch nzDanger *ngIf="!object['options'][1].check" (click)="option('B')">设为正确</button>
                </ng-template>
                选项C: <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButtonC">
                  <input type="text" nz-input placeholder="input search text" [(ngModel)]="object['options'][2].value"/>
                </nz-input-group>
                <ng-template #suffixButtonC>
                  <button nz-button nzType="primary" nzSize="large" nzSearch *ngIf="object['options'][2].check">正确答案</button>
                  <button nz-button nzType="primary" nzSize="large" nzSearch nzDanger *ngIf="!object['options'][2].check" (click)="option('C')">设为正确</button>
                </ng-template>
                选项D: <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButtonD">
                  <input type="text" nz-input placeholder="input search text" [(ngModel)]="object['options'][3].value"/>
                </nz-input-group>
                <ng-template #suffixButtonD>
                  <button nz-button nzType="primary" nzSize="large" nzSearch *ngIf="object['options'][3].check">正确答案</button>
                  <button nz-button nzType="primary" nzSize="large" nzSearch nzDanger *ngIf="!object['options'][3].check" (click)="option('D')">设为正确</button>
                </ng-template>

              </ng-container>
            </div>
          </div>
          <div class="field-item">
            <p><span class="red_sapn">*</span>分值: </p>
            <div style="flex:1;">
              <ng-container style="display: flex;">
                <nz-input-number [(ngModel)]="object['score']" [nzMin]="1" [nzMax]="100" [nzStep]="1"></nz-input-number>
              </ng-container>
            </div>
          </div>
          <div class="field-item">
            <p><span class="red_sapn">*</span>排序: </p>
            <div style="flex:1;">
              <ng-container style="display: flex;">
                <nz-input-number [(ngModel)]="object['index']" [nzMin]="1" [nzMax]="999" [nzStep]="1"></nz-input-number>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-template>
    <ng-template #modalFooter2>
      <button nz-button nzType="default" (click)="operatModal=false">取消</button>
      <button nz-button nzType="primary" (click)="operate('save')" [nzLoading]="isConfirmLoading">保存</button>
    </ng-template>
  </nz-modal>
</div>
