.common_td {
  min-width: 100px;
  max-width:180px;
  overflow-x: hidden;
  padding: 0;
  min-height: 20px;
  line-height: 2;
  max-height:100px;
  .img {
    width: 80px;
    height: 80px
  }
  .tinymac {
    min-width: 100px;
    max-width:180px;
    overflow: hidden;
    padding: 0;
    min-height: 20px;
    line-height: 2;
    max-height:100px;
    display: inline;
  }
}
.manage_tr {
  max-width:100px;
  overflow-x: auto;
  padding: 0;
  min-height: 20px;
  line-height: 1;
  max-height: 90px;
  .manage_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .manage_btn {
      width: 74px;
      margin-bottom: 5px;

    }
    .manage {
      display: flex;
      width: 74px;
      justify-content: space-between;
      .btn {
        margin-bottom: 5px;
      }
    }
  }
}


.show_img {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  z-index:65535;
  background-color: rgba(0,0,0,0.6);
  text-align: center;
  .close_view {
    width:90%;
    margin-left:5%;
    margin-top:1%;
    color:#fff;
    font-size:30px;
    border:1px #FFF solid;
    border-radius: 5px;
  }
  .view_img {
    height:90%;
    margin-left:5%;
    margin-top:1%;
    background:#fff;
    z-index: 99999;
  }
}
