<div id="container" class="so_main">
    <!--<div class="page_tit">欢迎使用Eduline-互联网在线教育系统</div>-->
    <div class="form2">
        <h3 onclick="">用户信息</h3>
        <div id="app_1" class="list">

            <div class="user-info">
                <div class="">
                    报名计划
                    <p>{{plans?plans.length:0}}</p>
                </div>
                <div class="">
                    报名资料
                    <p>{{info?info.length:0}}</p>
                </div>
                <div class="">
                    其他
                    <p>0</p>
                </div>
            </div>
        
        </div>
        <h3 onclick="">访问信息</h3>
        <div id="app_2" class="list">
            <table class="visit-info" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <th>时间</th>
                        <th class="line_l">浏览量</th>
                        <th class="line_l">独立访客量</th>
                        <th class="line_l">人均浏览次数</th>
                    </tr>
                    <tr>
                        <td>今日</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>昨日</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>一周平均</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
            </table>
        </div>
      
    </div>
</div>