@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham-dark.css";
@import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin";

.page-container {
  background-color: #fff;
  min-height: calc(100% - 120px);
  margin: 20px;
  padding: 10px;
}

.ag-root.ag-layout-normal {
  overflow-x: scroll !important;
}

.drop-box {
  position: fixed;
  top: 55%;
  left: 50%;
  z-index: 666;
  width: 300px;
  height: 100px;
  border: 1px solid #f5f5f5;
  text-align: center;
  background-color: #eee;
  line-height: 30px;
  opacity: 0.6;

  .drop-text {
    z-index: 1;
    font-size: 32px;
    color: #aaa;
    line-height: 100px;
  }
}




#ag_grid {
  width: 100%;
  height: calc(100vh - 140px);
}


.drop-box {
  position: fixed;
  top: 55%;
  left: 50%;
  z-index: 666;
  width: 240px;
  height: 80px;
  line-height: 80px;
  border-radius: 20px;
  // border: 1px solid #f5f5f5;
  text-align: center;
  color: #fff;
  background-color: #40a9ff;

  div {
    z-index: 1;
    font-size: 30px;
  }
}

.main {
  position: relative;
  min-height: 686px;
  padding: 10px 0;
  background-color: #fff;
}

.mask-box {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
}

.tip-box {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 666;
  width: 60%;
  background: #ffffff;
  border-radius: 15px;
  margin: 0 auto;
  text-align: center;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 15px;
  font-family: Source Han Sans CN;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  justify-content: space-around;

  .tip-title {
    font-size: 32px;
    font-weight: bold;
    color: #40a9ff;
    padding: 20px 0;
  }

  .tip-desc {
    font-size: 18px;
    font-weight: bold;
    color: #222222;
    width: 64%;
    text-align: left;
  }

  .excel-btn {
    width: 200px;
    height: 40px;
    background: #40a9ff;
    border-radius: 12px;
    margin: 10px 20px;
  }
}

.select-wrapper {
  padding: 10px 20px;
}