.note-center-layout {
    position: fixed;
    top: 0px;
    left: 0px;
    background: #020202;
    background-image: url(../../../assets/img/netespace/note.jpg);
    color: white;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow: auto;
    .center{
        color: #020202;
        padding: 45px;
        width: 570px;
        margin: 70px auto;
        font-size: 17px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 20px;
        p{
            color:red;
            font-size: 22px;
            margin: 10px auto;
        }
        :host ::ng-deep .avatar-uploader > .ant-upload {
            width: 128px;
            height: 128px;
        }
    }
    
}