<ng-container *ngIf="!loading">
  <div class="bd" [ngClass]="{'masterol': hostname == 'masterol' }">
    <div class="login">
      <div class='tit1'>{{appServ.title}}</div>
      <div class="center">
        <!-- 用户名 -->
        <nz-input-group nzSize="large" class="username" [nzSuffix]="a1" [nzPrefix]="a2" (keydown)="enter($event)">
          <input type="text" nz-input placeholder="请输入用户名" [(ngModel)]="username">
        </nz-input-group>
        <ng-template #a2><i nz-icon nzType="team" theme="outline"></i></ng-template>
        <ng-template #a1><i nz-icon nzType="close-circle" theme="outline" (click)="username=null" *ngIf="username"></i>
        </ng-template>
        <!-- 密码 -->
        <nz-input-group nzSize="large" style="margin-top: 20px" [nzSuffix]="pwd" [nzPrefix]='pwdicon'
          (keydown)="enter($event)">
          <input nzSize="large" [type]="passwordVisible?'text':'password'" nz-input placeholder="请输入密码"
            [(ngModel)]="password">
        </nz-input-group>
        <ng-template #pwd>
          <i nz-icon [nzType]="passwordVisible? 'eye-invisible':'eye'" (click)="passwordVisible = !passwordVisible"></i>
        </ng-template>
        <ng-template #pwdicon>
          <i nz-icon nzType="lock" theme="outline"></i>
        </ng-template>
        <div class="v_code" >
          <nz-input-group nzSize="large" class="v_input"
            (keydown)="enter($event)">
            <input style="flex: 1" nzSize="large" type="text" nz-input placeholder="请输入验证码" [(ngModel)]="vCode">
            <div class="v_code_box">{{code}}</div>
          </nz-input-group>
          <button class="c_code" nz-button nzType="default" (click)="creatCode()">换一个</button>
        </div>

        <!-- 登录 -->
        <div class="login_box">
          <button class="login_btn"  nz-button nzType="primary" (click)="login()">登录</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
