<div class="score-search">
  <div class="search">
    <div class="input name">
      <div>
        所属学校
      </div>
      <nz-select (ngModelChange)="changeSchool($event)" nzShowSearch nzAllowClear nzPlaceHolder="请选择学校" [(ngModel)]="school">
        <nz-option *ngFor="let item of schools"  [nzLabel]="item.get('name')" [nzValue]="item.id"></nz-option>
      </nz-select>
    </div>
    <div class="input num">
      <div>
        课程
      </div>
      <nz-select (ngModelChange)="changeLesson($event)" nzShowSearch nzAllowClear nzPlaceHolder="请选择课程" [(ngModel)]="lesson">
        <nz-option *ngFor="let item of lessons"  [nzLabel]="item.get('title')" [nzValue]="item"></nz-option>
      </nz-select>
    </div>
    <button (click)="search()" nz-button nzType="primary" [nzSize]="size" nzShape="round"><i nz-icon
        nzType="search"></i>试卷查询</button>
  </div>
  <div class="table">
    <nz-table [nzScroll]="{y: 'calc(100vh - 302px)' }" #sortTable [nzData]="listOfData" nzTableLayout="fixed">
      <thead>
        <tr>
          <th [nzAlign]="'center'" *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">{{ column.title }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listOfData">
          <td [nzAlign]="'center'">{{ data.get('profile').get('name') }}</td>
          <td [nzAlign]="'center'">{{ data.get('department').get('name') }}</td>
          <td [nzAlign]="'center'">{{ showlesson.get('title') }}</td>
          <td [nzAlign]="'center'">{{ data.get('survey').get('title') }}</td>
          <td [nzAlign]="'center'"><button (click)="perusal(data)" nz-button nzType="primary">批改</button></td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
