.outline {
  min-width: 600px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #000000;
}
.outline .wrapper {
  background-color: #fff;
  padding: 30px 60px;
  margin: 0 auto;
  width: 1200px;
  min-height: 700px;
}
.outline .title {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 600;
}
.outline .sketch {
  padding-top: 10px;
  text-indent: 30px;
}
.outline .case1 {
  padding-top: 20px;
  text-indent: 30px;
}
.outline .chapter {
  text-indent: 30px;
  padding-top: 10px;
}
.outline .chapter .content {
  padding-top: 10px;
}
.outline .chapter .item_content {
  text-indent: 40px;
  padding-top: 10px;
}
.bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
  text-align: center;
}
.bg img {
  width: 279px;
  height: 148px;
}
.bg span {
  padding-top: 22px;
  font-size: 16px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #B0B0B0;
}
.courseware {
  margin: 0 10px;
  font-size: 22px;
}
.courseware p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding: 20px 10px;
  font-family: Microsoft YaHei;
  font-weight: 500;
  border-bottom: 1px solid #f5f5f5;
}
.courseware p a {
  color: #1995ff;
}
